[2009-10-22 07:29] jmettraux opened #1 "running jobs list"
http://groups.google.com/group/rufus-ruby/t/18b08be7f661e915

why not ? what about jobs that fail and don't get removed ?

[2009-11-03 18:37] nateware opened #2 "Trying to pass class as schedulable raises exception"
Hi, digging rufus-scheduler - awesome gem!  But I'm having problems with passing a schedulable.  The docs say you can do this:

every '30s', GameProcessor.new

But trying to do that raises this exception:

undefined method `merge' for GameProcessor:Class (NoMethodError)
from /usr/playerconnect-stack-2009e/lib/ruby/gems/1.9.1/gems/rufus-scheduler-2.0.2/lib/rufus/sc/scheduler.rb:164:in`every'

It ac

[2009-11-04 00:58] #2 closed, assigned to nobody

[2010-01-04 13:24] jmettraux opened #3 "Rufus.is_cron_string is useless"
... rewrite

[2010-01-22 01:10] soulware opened #4 "setting :frequency > 1s mean the scheduler may not fire cron style jobs"
Rufus::CronLine.new("\* \* \* \* _").matches?(Time.now)
will *only_ return true if we happen to be polling in the 1st second of the minute

Very simple example - http://gist.github.com/283421

[2010-04-22 20:51] mistergibson opened #5 "Version 2.0.5 Rufus::Scheduler::start_new missing under Rails 2.3.5 and Spree 10.2"
Odd thing happened on my way to getting my stuff done: Rufus is missing start_new

Under Rails 2.3.2 plain vanilla it is there, but under Rails 2.3.5 running Spree 10.2 it is missing.

Has anyone else run into this, and any idea what would cause that?

Thanks,

[2010-04-22 23:29] #5 closed, assigned to nobody

[2010-07-25 06:07] jensb opened #6 "rufus-scheduler throws exceptions during tests and on irb console"
Hello,

I started rufus-scheduler according to the tutorial on http://intridea.com/2009/2/13/dead-simple-task-scheduling-in-rails?blog=company.

After installing, whenever I run tests, or start the console, I get exceptions like the following:

<pre>
=================================================================================> nil

=============================================================

[2010-07-25 06:32] #6 closed, assigned to nobody

[2010-11-06 12:02] #4 closed, assigned to nobody

[2010-12-01 21:31] troessner opened #10 "Scheduler just terminates randomly for no apparent reason"
Strange problem: In my scenario Rufus Scheduler terminates at different points during task execution for no apparent reason.

This is my config/initializers/task_scheduler.rb:

[code]

Now, when I restart passenger I always get mixed results how "far" rufus gets before he terminates:

This is from today:

[code]

2 days before:

[code]

From the same day:

[code]

As you can see, the scheduler jus

[2010-12-01 22:43] #1 closed, assigned to nobody

[2010-12-02 06:42] #10 closed, assigned to nobody

[2010-12-29 05:39] pickerel opened #11 "cron error"
when set cron  to 0 7-23/2 \* \* \* , I get error:

[code]

[2010-12-29 21:52] #11 closed, assigned to nobody

[2011-02-03 09:20] bawNg opened #12 "Constantly uses 50% CPU on ruby 1.9.2p136 (2010-12-25) [i386-mingw32]"
rufus-scheduler seems to constantly use 47 - 50% CPU running on ruby 1.9.2p136 (2010-12-25) [i386-mingw32]

[code]

The above example works fine running under ruby 1.8.7

[2011-02-03 17:24] #12 closed, assigned to nobody

[2011-03-07 20:25] ianschreuder opened #13 "midnight changing to 1 am"
This spec test fails when I add it to cronline_spec.rb, line 53 (under "interpreting cron strings correctly")

to_a '0 0 1 1 *', [ [0], [0], [0], [0], [1], nil, nil ]

In my understanding this should run at midnight on January 1st, but instead it shifts to run at 1 a.m.

[2011-03-08 04:29] #13 closed, assigned to nobody

[2011-04-06 09:50] njakubanecs opened #14 "Database connection pool"
Hi!

I'm using MySQL database and rufus-scheduler version 2.0.8 in my Rails3 app on Jruby 1.5.6 and after some while app runs out of connections and I get AR connection error:
<code>ActiveRecord::ConnectionTimeoutError (could not obtain a database
connection within 5 seconds.  The max pool size is currently 5; consider
increasing it.)</code>

I decided to add <code> ActiveRecord::Base.verify_activ

[2011-04-06 10:45] #14 closed, assigned to nobody

[2011-04-20 21:57] concept47 opened #15 ":first_at parameter is wonky"
I run into this problem, over and over again when I'm trying to use scheduler.every with the :first_at parameter specified.
If I want to run a job every hour but specify that it should run first at 6am, then when my app starts up (lets say its 4pm) ... rufus goes and tries to run every job that SHOULD have run since 6am.

I guess this is the way it was designed, but I think it makes the :first_at

[2011-04-21 22:02] #15 closed, assigned to nobody

[2011-05-10 15:37] flockonus opened #16 "scheduler.every '4h' problem"
Hello,

[complex one here]

I have a Rails 3.0.5 app in production, that is running by Unicorn and MySQL, and from 4 to 4 hours it should run a model method. It actually does that, but in a strange way.. This method reads the db and based on what found create news proposals (via regular ActiveRecord).
The strange thing is, it seems to read a older version of the DB (but I use no particular cache),

[2011-05-10 22:10] #16 closed, assigned to nobody

[2011-06-16 14:54] jesseadams opened #17 "Certain cron strings are not firing off reliably"
I am having issues using cron strings to schedule tasks. Some work. while others are hit or miss.

One example:

*/10 8-21 \* \* 1,2,3,4,5,6,0

Todays runtimes, thus far:

 2011-06-16 14:50:03.462913
 2011-06-16 14:40:03.13553
 2011-06-16 14:30:22.214137
 2011-06-16 14:20:15.99141
 2011-06-16 14:00:40.506319
 2011-06-16 13:40:06.077922
 2011-06-16 13:30:25.126185
 2011-06-16 12:50:05.149763
 2011-

[2011-06-17 14:55] #17 closed, assigned to nobody

[2011-06-23 15:05] dtrce opened #18 "rufus scheduler implementation advice"
I have a rufus scheduler implemented in an app where I schedule jobs from a db in an initializer. My understanding is how apache kicks off process, it will run the initializers multiple times which will cause duplicate jobs in rufus.

Is there a recommended way of initializing the scheduler and registering jobs?

[2011-06-23 22:21] #18 closed, assigned to nobody

[2011-06-24 19:46] sha1dy opened #19 "Exception thrown from job stops execution of this job"
In readme it's stated
'Note that an every job or a cron job will stay scheduled even if it experiences an exception.'
Seems ever readme is out of dated or in latest rufus-scheduler there is a bug regarding this, because exception actually stops scheduling faulty job.

[2011-06-25 22:27] sha1dy opened #20 "No way to get real next run time when job will be executed"
I need to know 'real' next run time when job will be executed.
I know that job has next_time, but it doesn't take in consideration if job took longer time to complete than it's schedule time. From the code I see that determine_at can return 'real' next time, but it's protected in some job classes. Is it possible to unprotect this method?

[2011-06-26 00:35] #20 closed, assigned to nobody

[2011-06-26 03:56] #19 closed, assigned to nobody

[2011-06-27 20:12] concept47 opened #21 "scheduler running for 10 minutes then stopping"
Very odd problem ... I have a scheduler setup up to run every 30 minutes ... at first I noticed that it wasn't running, so I reduced the interval to 5 minutes then 1 minute ... and from my tests, it seems that it runs for about 10 minutes then stops

We're running this with Passenger 3.0.4 and Apache 2.2.11, rufus scheduler 2.0.9.

I'm very confused.

[2011-06-27 20:35] #21 closed, assigned to nobody

[2011-07-22 09:52] #3 closed, assigned to nobody

[2011-07-22 09:57] jmettraux opened #22 "Scheduler#cron doesn't work in irb"
http://groups.google.com/group/rufus-ruby/browse_thread/thread/dfb0cbb8dd96ff4c
# every works

ruby-1.8.7-p249 snoleo
ruby-1.9.2-p180 snoleo as well

time for a verbose run

[2011-10-06 16:15] capitanscott opened #24 "Cron uses, and interactions."
Hello, I´m trying to code a scheduler with some "every" tasks and some of them to be executed exactly at a determined time, not depending on when the scheduler was started. So I used cron.

First of all, I don´t know if I have to create the cron line before, or just using it directly. Here some code:
(it´s a shortened version, but the important part, at least, what I think is there)

The version o

[2011-10-07 01:31] #24 closed, assigned to nobody

[2011-10-12 06:25] samfoo opened #25 "An exception whose #to_s or #backtrace method itself throws an exception stops the scheduler"
## But how do you commit such nefarious deeds, you might ask?

[code]
## What exactly is going on here?

In `lib/rufus/sc/jobs.rb#147` there's a bit of code that rescues exceptions and calls `#handle_exception`.

[code]

The default implementation of `#handle_exception` calls `Exception#to_s` and `Exception#backtrace` to print out the details of the error. If either of these methods raise an excep

[2011-10-14 03:08] #25 closed, assigned to nobody

[2012-01-11 14:56] mareczek opened #27 "Cannot stop a running job"
Hello,
Thanks for a wonderful gem! I have a small problem with stopping a running job. Once the job disappears from:
scheduler.jobs
it goes to:
scheduler.running_jobs

i find the job by simply:
scheduler.running_jobs.select { |job| job.job_id == saved_in_database_job_id }
because, this doesn't work:
scheduler.find(saved_in_database_job_id)

The question is: how can i pause / resume / stop a job th

[2012-01-11 21:24] #27 closed, assigned to nobody

[2012-01-12 22:44] mareczek opened #28 "Passenger losing threads"
Hello again :)

I know that passenger is losing threads :( is there a way to revive them? I have read: http://www.modrails.com/documentation/Users%20guide%20Apache.html#_smart_spawning_gotcha_2_the_need_to_revive_threads

Can you provide code to revive the lost threads?

I would be gratful for any kind of solution/hack :)

Thank you for your work!

[2012-01-15 15:13] #28 closed, assigned to nobody

[2012-02-25 12:42] schneider-th opened #30 "Cron lines don't work in production when minutes are "0""
Hey,

I know that the issue sounds a little but strange, but my cron jobs don't work, when I set minutes to "0".

I have a setup with a local Rails 3.0.12 app on OSX Lion in development environment and the online version, which is hosted on a VPS running Ubuntu 10.04.

My task_scheduler.rb has several job runnings, which are always similar to one of the following lines:

[code]

The first line is

[2012-02-26 21:12] #30 closed, assigned to nobody

[2012-03-01 01:43] d11wtq opened #31 "Refactor: simplify at/in/every by quickly handing them off to cron"
It seems like the at/in/every jobs can all be represented as cron jobs.  For example:

[code]

"at" is obviously compatible.

Just a thought anyway :)  I'm dissecting the code to look at adding support for distributed scheduled jobs, across multiple machines, without worrying about the scheduler running in multiple locations (backed into redis).

[2012-03-01 01:49] #31 closed, assigned to nobody

[2012-03-01 02:02] #22 closed, assigned to nobody

[2012-04-11 06:19] ghost opened #32 "Class method support to Schedulable"
scheduler.every 1h, MyClass

[2012-04-12 06:50] #32 closed, assigned to nobody

[2012-04-12 08:17] terotil opened #33 "Job initialization should complain about unknown/ineffective options"
Job initialization happily accepts whatever options. If it did not, typos and false expectations of job capabilities would get caught earlier. Later is imo the more important issue. Now if you do `scheduler.cron('15 * * * *', :first_at => Chronic.parse('this monday 00:15')) { work_my_magic }` and it works ... except that it quite doesn't. :) It will fire every *:15 on every day, but it won't wait

[2012-04-12 13:31] #33 closed, assigned to nobody

[2012-05-03 07:37] jamilbk opened #34 "Rufus::Scheduler.start required in production"
The following schedule begins executing immediately on my Mac in my development environment:

scheduler = Rufus::Scheduler.start_new
job = scheduler.every '1s' do
  puts "hello world"
end

While on my Ubuntu 12.04 production box it requires a call to start() to begin executing:

scheduler = Rufus::Scheduler.start_new
job = scheduler.every '1s' do
  puts "hello world"
end
scheduler.start

Both are

[2012-05-03 10:57] #34 closed, assigned to nobody

[2012-05-17 04:21] javiersuazo opened #35 "How can you create a continuos background process!?"

[2012-05-17 15:00] #35 closed, assigned to nobody

[2012-10-10 19:40] pazustep opened #37 "CronLine.next_time never completes for "0 17 * * MON_FRI""
We're using CronLine.new(expr) as a quick (maybe dirty) way to validate cron expressions entered by our users. For the expression "0 17 \* \* MON_FRI" the constructor returns a valid object, but calling next_time on it will block forever.

[2012-10-10 20:25] #37 closed, assigned to nobody

[2012-10-24 02:27] northox opened #39 "Weird output when using :first_at"
Hello John,

I have a weird problem while using rufus-scheduler within ruote.

The problem only appears when I'm using :first_at.

Both:

[code]

will create a weird output but:

[code]

would be ok. See this [gist](https://gist.github.com/3943326). I'm I doing something wrong?

I'm using rufus-scheduler 2.0.17 and ruote master (2.3.1)

[2012-11-06 16:37] TheCorp opened #41 "ThreadError: can't create Thread"
I get this error randomly about once a day while rufus is running. Any ideas what the cause could be or what we could do to diagnose it?

The error we see in our logs is here:   vendor/bundle/ruby/1.9.1/gems/rufus-scheduler-2.0.17/lib/rufus/sc/scheduler.rb:416

[2012-11-06 20:47] #41 closed, assigned to nobody

[2012-11-09 01:29] dnagir opened #42 "What's the best way to spec the scheduler?"
When defining the tasks to run I really want to spec them to ensure the tasks were actually scheduled correctly.

I have the following in mind, but not sure what's the best way to do it.

[code]

But I don't know if that's a a good way of doing it.

[2012-11-09 02:22] #42 closed, assigned to nobody

[2012-11-20 00:29] aerickson opened #43 "cron jobs are unreliable with non-default scheduler frequency"
I have a small script (using scheduler.join) that had a frequency of 10 seconds. My cron job would never run (every jobs work fine). Using the default frequency makes it work fine... maybe warn if users have changed the scheduler frequency when scheduling crons?

Does the code that determines what jobs to run only search back a set period of time (vs the frequency period?). Classic cron won't run

[2013-02-05 17:26] TheCorp opened #45 "NameError: uninitialized constant"
We've been noticing lately (now that we enabled error reporting in our rake tasks) that our rufus scheduler will sometimes (randomly) have an error calling some of the classes and methods in our schedules. Here is an example:

`scheduler.every '1d', first_at: start_time, discard_past: true do
    SomeModule::SomeClass.perform_async "whatever"
end`

We are passing in a start_time to all of our dail

[2013-02-05 22:03] #45 closed, assigned to nobody

[2013-03-01 03:19] jmettraux opened #47 ""L" accepted at any level (not just the day level)"
see conversation in https://github.com/jmettraux/rufus-scheduler/pull/46

[2013-03-01 05:01] #47 closed, assigned to nobody

[2013-04-05 10:38] shabo opened #48 "RoR - many application servers"
Hi,

I have been playing around with rufus-scheduler for a long time and I think it's really cool. I migrated my app today to be served with 4 thin servers using apache with mod_proxy as frontend server.

Having one instance of thin was easy because rufus was running as a thread of thin's process. What's the best approach to deal with 4 instances of thin and not having 4 instances of rufus?

Runni

[2013-04-05 12:35] #48 closed, assigned to nobody

[2013-04-06 07:45] linux-support opened #49 "Runtime Exception in Ruby 2.0.0"
After upgrading from Ruby 1.9.3 -> 2.0.0 I did run a test with three scheduled jobs (every: 10 sec)

The following exception has been thrown after a runtime of 4,5 h.

/home/mario/.rvm/gems/ruby-2.0.0-p0/gems/rufus-scheduler-2.0.17/lib/rufus/sc/jobs.rb:219: [BUG] pthread_mutex_lock: Invalid argument (EINVAL)
ruby 2.0.0p0 (2013-02-24 revision 39474) [x86_64-linux]

-- Control frame information ----

[2013-04-06 07:52] linux-support opened #50 "Event storm triggered after waking up from sleep-mode"
When running programs powered by Rufus-Scheduler I do recognize the scheduler is triggering a storm of events after waking up from hybernation mode (or sleep mode). In this case all missed triggers are fired up as fast as possible.

I did not find a reliable mechanism to prevent this behaviour or to configure Rufus to forget events that are too old.

[2013-04-12 22:06] #50 closed, assigned to nobody

[2013-04-12 22:07] #49 closed, assigned to nobody

[2013-05-08 09:34] xinlangzi opened #53 "Why I can't reschedule?"
In Rails application, I want to reschedule the job:

[code]

I can't make the job to "10 02 \*  \*  *". Do you have any idea?

/cc @haobole

[2013-05-08 10:13] #53 closed, assigned to nobody

[2013-05-22 11:07] jmettraux opened #54 "cron: support sun#L or sun#-1 (for last sunday)"
[code]

That should be easy, and at least useful to one person.

[2013-05-27 21:46] jmettraux opened #55 "cron next_time that goes towards the past"
As suggested by Matteo Cerutti in:

  https://groups.google.com/forum/?fromgroups#!topic/rufus-ruby/43ShTYa-N34

[2013-05-27 21:57] #54 closed, assigned to nobody

[2013-05-28 22:22] jmettraux opened #57 "problem with cron lines and 23-24, 25-26 for hours"
As explained in https://github.com/jmettraux/rufus-scheduler/pull/56#issuecomment-18583788

[2013-05-29 00:56] #57 closed, assigned to jmettraux

[2013-06-01 22:12] #55 closed, assigned to nobody

[2013-06-12 15:36] FooBarWidget opened #59 "There should be a way to tell the scheduler to exit, and then to wait for it to do so"
The docs say that if you run the scheduler in Rails or a daemon-like process, then there's no need to call #join. But that is not true. If the Rails process is shut down (e.g. because Phusion Passenger idle cleans a process, or because you sent SIGTERM to Unicorn) then the main thread _should_ wait for the scheduler thread to exit. Otherwise, the process may terminate while the scheduler is in the

[2013-06-12 22:18] #59 closed, assigned to jmettraux

[2013-06-27 21:20] joast opened #60 "minor typo in README example for using chronic"
README.rdoc contains the text `do something starting this tueday`. Should be `do something starting this tuesday`.

[2013-06-28 04:27] #60 closed, assigned to nobody

[2013-07-15 12:35] bf4 opened #64 "License missing from gemspec"
Some companies [will only use gems with a certain license](https://github.com/rubygems/rubygems.org/issues/363#issuecomment-5079786).
The canonical and easy way to check is [via the gemspec](http://docs.rubygems.org/read/chapter/20#license)
via e.g.

[code]

There is even a [License Finder](https://github.com/pivotal/LicenseFinder) to help companies ensure all gems they use
meet their licensing ne

[2013-07-15 12:44] #64 closed, assigned to nobody

[2013-07-15 16:25] sirkosi opened #65 "Scheduler is not running crons"
Hi, with the new releases today 2.0.20 and 2.0.21 my crons are not getting executed. Just wondering if someone else experienced this issue. Maybe it is just an obsolete configuration, which I'm going to check later.

2.0.19 seem to run stable

[2013-07-16 05:59] #65 closed, assigned to nobody

[2013-07-22 08:29] #39 closed, assigned to nobody

[2013-07-22 09:30] #43 closed, assigned to jmettraux

[2013-07-25 00:33] jmettraux opened #66 "fix timeout issue on rubinius"
as seen in https://travis-ci.org/jmettraux/rufus-scheduler/jobs/9454076

[code]

[2013-07-29 12:59] #66 closed, assigned to jmettraux

[2013-08-24 23:17] jmettraux opened #69 "rbx-19 unhappy with tz"
https://travis-ci.org/jmettraux/rufus-scheduler/jobs/10559678

or I could simply temporarily comment out rbx-19...

[2013-08-25 21:56] #69 closed, assigned to jmettraux

[2013-09-03 00:28] jmettraux opened #70 "add #scheduled? to Job class"
for "at" and "in" jobs, it's interesting to determine if it's still in the game...

although, if `Time.now > job.at`...

[2013-09-03 22:45] #70 closed, assigned to jmettraux

[2013-09-08 18:16] pushmatrix opened #71 "Job Callbacks"
It would be nice to be able to hook up callbacks that could run before a job is triggered & after it is triggered. It would be useful for logging.

Just a rough idea:

[code]

[2013-09-09 16:36] rubemz opened #72 "add tzinfo-data as dependency too"
getting this when running bundle

[code]

[2013-09-09 20:34] #72 closed, assigned to nobody

[2013-09-09 23:57] #71 closed, assigned to nobody

[2013-09-13 09:36] EnotPoloskun opened #73 "Thread stops after some time."
Hello everyone. I have a problem. In my app I have this code

[code]

and after some time(1-3 mins) it stops doing puts

but if I am doing same functuionality with usial Thread

[code]

it doesnt stops after some time. Could you please tell why it happens?

Other schedules are stopping too, I've just provided one example of my schedule.

Thanks in advance!

[2013-09-13 11:07] #73 closed, assigned to nobody

[2013-09-17 03:55] bmxpert1 opened #74 "EveryJob's first_at doesn't mark first trigger (was: First_at no longer works)"
Maybe your aware of this on 3.0, but using first_at (or first_in) no longer works. I fixed it on my fork by changing EveryJob.initialize to:

[code]

I'm sure I overlooked something which is why I didn't submit a pull request, but this is working for me now.

[2013-09-22 22:30] #74 closed, assigned to jmettraux

[2013-10-01 22:20] jmettraux opened #75 "local jruby issue with :last_at"
jruby 1.7.4 (1.9.3p392) 2013-05-16 2390d3b on OpenJDK 64-Bit Server VM 1.6.0_27-b27 [linux-amd64]

[code]

[2013-10-01 23:25] jmettraux opened #76 "lock interface"
https://twitter.com/lindvall/status/385177456421785600

with @eric

[2013-10-02 12:07] tbenade opened #77 "this is rufus-scheduler 3.0, use .new instead of .start_new (RuntimeError)"
Hi, Trying to get dashing running on windows ruby 2.0 On start of dashing I get the following. Apologies if this is a user error I am an absolute Ruby noob.

[code]

[2013-10-02 20:48] #77 closed, assigned to nobody

[2013-10-02 22:49] jmettraux opened #78 "fix parse_duration rdoc"
as per https://github.com/jmettraux/rufus-scheduler/commit/d1a18c6b5f5c95b018a57232e3c5d4543f6eb66b#commitcomment-4237681

[2013-10-02 22:55] #78 closed, assigned to jmettraux

[2013-10-04 16:46] joast opened #79 "to_time_string referenced in docs for to_duration and to_duration_hash, but not defined anywhere"
Docs for to_duration and to_duration_hash contain references to to_time_string, but the to_time_string alias does not exist in rufus-scheduler 3.0.0.

[2013-10-04 22:40] #79 closed, assigned to nobody

[2013-10-07 08:14] aditya-mandal opened #80 "Schedule for every 30min but only for monday to friday"
Hi
I want to rufus scheduler to schedule for every 30min but only for monday to friday.

I tried with this, like the cron properties but its not working.
scheduler.every '30m 1-5' do
  Rails.logger.info('Scheduler start running.....')
end

Is this any another way to schedule?

[2013-10-07 08:18] aditya-mandal opened #81 "Multiple time zone option for cron"
Hi

I would like to schedule a job at 8:00am, but it is specific for some time zone.

Can we set multiple time zones in cron properties.

I found the option to set the time zone but how i can able to set multiple time zones.
Please suggest

scheduler.cron '0 22 \* \* 1-5 Europe/Paris' do
    # every day of the week when it's 22:00 in Paris
 end

[2013-10-07 08:49] #81 closed, assigned to nobody

[2013-10-07 08:53] #80 closed, assigned to nobody

[2013-10-07 10:26] jmettraux opened #82 "explain in README how to use timezones"
to avoid such "issues": gh-81

[2013-10-07 22:17] #82 closed, assigned to jmettraux

[2013-10-08 11:17] #75 closed, assigned to jmettraux

[2013-10-17 19:57] gacha opened #84 "On every job new thread is created and max threads are ignored (v 3.0.0)"
Scheduler holds 2 jobs, so there should be only 2 threads 1 per job, but running this on amazon EC2 with kernel 3.2.0-31 with ruby-2.0.0p247 on each new job a new thread is born until memory is full. But when I run this on my ubuntu 12.04 laptop with kernel 3.8.0-31 then there are only 2 threads. Also I tested this with version 2.0.24 and it has only 2 threads.

[code]

![ekrnattls 2013-10-17 22 5

[2013-10-18 07:03] gacha opened #85 "Specific error for lockfile feature"
I have one feature request. In new version there is that lock file feature, it's working great, but it's raising some general RuntimeError and to be sure that that's the one I need to check the exception message, there should be some kind of `Rufus::Scheduler::Error*`

[2013-10-18 21:45] #85 closed, assigned to jmettraux

[2013-10-18 21:46] jmettraux opened #87 "bring back some EventMachinery"
timers in the reactors and a look at EM's thread pool...

[2013-10-19 00:55] #84 closed, assigned to jmettraux

[2013-10-25 17:10] glebm opened #88 "Run a job every first Monday of each month"
Is it possible to schedule the job to run every first Monday of each month?

[2013-10-25 22:25] #88 closed, assigned to nobody

[2013-10-31 22:37] #76 closed, assigned to jmettraux

[2013-11-10 15:26] yoyos opened #89 "frequency checking very slow"
Hi, first great job with this gem :)

I just wanted to talk about the CronLine frequency method.
First i used frequency but after this I used previous_time.

For example if I do :

[code]

It takes just forever to execute even one line.

And if I do :

[code]

It takes a few second for the same result.

If I want to compare previous, current and next times, I can't use the frequency method then ?

[2013-11-10 20:58] #89 closed, assigned to nobody

[2013-12-09 09:06] yassenb opened #90 "Scheduling cron jobs sometimes causes stack overflow"
As of today, 9th of December, if I try to schedule a cron job to run on the 1st of January I get a stack overflow. I've narrowed it down to the terribly inefficient way the previous_time method is implemented. Working on a pull request.

[2013-12-09 09:33] #90 closed, assigned to nobody

[2013-12-11 11:31] m4ce opened #92 "Weird issue with Rufus 2.x"
Hi John,

I have been running on Rufus 2.x for quite a while now (2.0.24 to be precise) and I am extremely happy with it.

There's one little issue that I cannot quite pin down. I use Rufus to schedule cron jobs. However, it sometimes does not re-schedule them.

it generally happens after weeks from their first scheduling. It works great for a while and then randomly certain jobs disappear.

Below

[2013-12-11 21:07] #92 closed, assigned to nobody

[2013-12-17 09:48] gacha opened #93 "first_in option for cron jobs"
As docs says "This option is for repeat jobs (**cron** / every) only." I understand that `first_in` works also in cron jobs, but it doesn't. I checked source and it's not implemented there, so maybe this is a bug in docs not in code.

[2013-12-17 12:32] #93 closed, assigned to jmettraux

[2014-01-15 18:16] egenial opened #94 "Rufus TappingMode"
Because this code runs correctly with 5 seconds and random moments wheel with 6 seconds?

This has happened with a frequency in a critical application that we are developing.

I need the range to be exactly every 5 seconds flat.

[code]

Thanks!

[2014-01-16 02:25] jmettraux opened #95 "second based cron doesn't start right away"
[code]

output

[code]

It waits for 26.77 seconds then starts, at second 1, then swings in the right mood...

[2014-01-16 02:49] #94 closed, assigned to nobody

[2014-01-16 22:33] #95 closed, assigned to jmettraux

[2014-01-22 11:16] jmettraux opened #96 "now and then every 10 seconds"
[code]

[2014-01-22 13:31] #96 closed, assigned to jmettraux

[2014-01-23 00:18] jmettraux opened #97 "Job#call"
[code]

cf gh-96 and http://stackoverflow.com/questions/21280870/rufus-scheduler-run-every-x-seconds-with-first-run-immedately

[2014-01-24 22:54] #97 closed, assigned to jmettraux

[2014-02-13 21:53] jmettraux opened #98 ""can't be called from trap context" shutdown issue on Ruby 2.0.0"
Initially reported at: http://stackoverflow.com/questions/21733308/gracefully-stop-rufus-scheduler-on-heroku-worker

test code: https://gist.github.com/jmettraux/a4c00374f58e9f7affa8

output:

[code]

https://www.ruby-forum.com/topic/4411227

[2014-02-13 22:09] #98 closed, assigned to jmettraux

[2014-02-16 15:59] neohunter opened #99 "What call the rufus-scheduler process?"
I'm trying to use this in my rails app, i've created the config as you suggested on config/initializers/task_scheduler.rb

I have my webserver runing with thin.

On whenever gem i have to exec wheneverize to make it works.

But how rufus works? I'm sorry for create an issue, but I've tried to make this work without any luck.

[2014-02-16 22:17] #99 closed, assigned to nobody

[2014-02-18 02:20] dudo opened #100 "time zone"
If I leave the timezone off of a `scheduler.repeat('30 3 * * *', :blocking => true) do` and I have the default timezone configured in application.rb... will this run at 3:30 UTC, or 3:30 in the default time zone?

[2014-02-18 03:11] #100 closed, assigned to nobody

[2014-02-18 03:12] jmettraux opened #101 "option to set the timezone for the scheduler instance"
ref gh-100

[2014-02-18 10:07] dudo opened #102 "a few tasks aren't running..."
I have a few jobs that I can't seem to run...

[code]

I tried some other syntax as well, using `scheduler.every('1d', :at => '3am', :blocking => true)` which also wasn't working.  The first thing in the task is a `FeedLogger.logger.info "Blah"`, which isn't showing up in the feed, so nothing is failing in the task. I can also run the methods inside the task manually with no problems.

What am I d

[2014-02-18 10:52] #102 closed, assigned to nobody

[2014-02-18 11:07] dudo opened #103 "duped"
duped...

[2014-02-18 11:09] #103 closed, assigned to nobody

[2014-02-19 00:59] jmettraux opened #104 "add "passenger" section to the readme"
cf http://stackoverflow.com/questions/21861387/rufus-cron-job-not-working-in-apache-passenger

[2014-02-20 21:21] jmettraux opened #105 "implement Scheduler#occurrences(start_time, end_time)"
Idea credit to kreynolds (~tossrock).

Returns a list of "fire times" and their job id or job.

Maybe

[code]

[2014-02-22 06:19] jmettraux opened #106 "document how a job may "delay" its next trigger time"
Inspired by http://stackoverflow.com/questions/21946313/is-there-a-way-with-rufus-scheduler-to-schedule-a-job-every-5-minutes-starting

Something like:

[code]

[2014-02-22 13:12] #106 closed, assigned to jmettraux

[2014-02-23 01:51] msealy opened #107 "Help configuring Rufus with Unicorn"
I am in need of guidance on how to setup Rufus to work with Unicorn. I just switched my server from WebBrick to Unicorn (with 3 workers) but am unable to get the scheduled jobs to fire running locally on machine. I tried dropping the number of unicorn workers to 1 but it makes no difference. The purpose of the job is to delay the enqueuing action to QueueClassic where the real work happens. Do I n

[2014-02-23 08:33] #107 closed, assigned to nobody

[2014-02-24 21:38] jmettraux opened #108 "override old doc on rubyforge.org"
- http://rufus.rubyforge.org/rufus-scheduler/
- http://rufus.rubyforge.org/rufus-scheduler/files/README_txt.html

too old, brings confusion: http://stackoverflow.com/questions/21946313/is-there-a-way-with-rufus-scheduler-to-schedule-a-job-every-5-minutes-starting

[2014-02-27 21:32] jmettraux opened #109 "spec without an assertion"
to fix

https://github.com/jmettraux/rufus-scheduler/commit/77e5d5eff473deee7119c55a6fe9f78b031a0878#commitcomment-5510542

[2014-02-27 22:04] #109 closed, assigned to jmettraux

[2014-02-27 22:24] jmettraux opened #111 "remove 2.0.24 warning from .gemspec"
people should have gotten the message by now

[2014-03-01 01:40] jmettraux opened #112 "RepeatJob skip idea"
[code]

Maybe CronJob only? Makes no sense for "interval" and "every"...

[2014-03-07 12:34] jmettraux opened #113 "output info about work threads when dumping error"
In an exception dump, like the one in http://stackoverflow.com/questions/22247454/threaderror-cant-create-thread-11-using-rufus-scheduler-in-sinatra-app-on-her it'd be great to have info about max work threads / current work threads.

Maybe other pieces of info (scheduler configuration?) would help too.

Ruby version ?

[2014-03-10 08:59] m4ce opened #114 "Rufus wrongly scheduled cronjob on DST change"
Hi,

I will try to describe the situation as best as I can.

I am using Rufus scheduler 3.0.2. Ruby version is 1.8.7.p357.

I've been running my little app based on rufus for months now without having any issues. Cronjobs are scheduled and executed just how I expect.

My environment consists of some machines deployed with custom timezones. Yesterday, the time on some of those machines would switch

[2014-03-10 12:23] seekshiva opened #115 "Unable to install gem"
I'm unable to install the gem. I get the following error:

[code]

[2014-03-10 13:19] #115 closed, assigned to nobody

[2014-03-11 01:17] jmettraux opened #116 "add "Rails" section to the readme"
something around http://stackoverflow.com/questions/22313778/can-i-schedule-controller-methods-in-rails-using-rufus-scheduler/22314594#22314594

[2014-03-11 22:32] #116 closed, assigned to jmettraux

[2014-03-12 22:57] #114 closed, assigned to jmettraux

[2014-03-13 22:51] #113 closed, assigned to jmettraux

[2014-03-16 22:15] #105 closed, assigned to jmettraux

[2014-03-17 21:57] #112 closed, assigned to jmettraux

[2014-03-20 14:23] letronje opened #117 "Every day, start at time X and process in batches with a fixed interval of x mins"
I am trying to figure out how to be able to do the following.

I want to start a job at 12:00pm every day which computes a list of things and then processes these things in batches of size 'b'. and guarantee an interval of x minutes between the end of one batch and the beginning of another.

[code]

I tried something like the following but I hate that I have to pass in the scheduler to the job or

[2014-03-20 20:37] #117 closed, assigned to nobody

[2014-03-21 00:42] jmettraux opened #118 "use Chronic if present"
see http://stackoverflow.com/questions/22547914/rails-issue-with-parsing-date/22548053

[2014-03-21 23:49] #118 closed, assigned to jmettraux

[2014-03-22 21:28] jmettraux opened #119 "make Tzinfo an optional dependency"
especially since it started depending on threadsafe and atomic

[2014-03-25 18:35] mliu opened #120 "Jobs returning as nil"
I'm using rufus-scheduler to schedule jobs at a certain date through the following code:

[code]

I then save the id of that job in my post class

[code]

However, if I try and unschedule that job again by calling:

[code]

I get an error because the job is nil. If I try and look at the jobs of the Scheduler by calling this in the rails console:

[code]

I get a blank array. Can anyone explain why

[2014-03-25 21:42] #120 closed, assigned to nobody

[2014-05-06 15:46] pfridm01 opened #122 "Can't trigger 'cron' method's 'first_at' parameter"
ruby 1.9.3
centos 6
rufus 3.07

Can't trigger 'cron' method's 'first_at' parameter

does not work: scheduler.cron '00 14 \* \* *', :first_at => Time.now+3 do
works:              scheduler.every '24h', :first_at => Time.now+3

Thanks!

[2014-05-06 20:39] #122 closed, assigned to nobody

[2014-05-08 20:16] shogo2040 opened #123 "Example of rufus and rest-client."
Hi,

Can anyone provide an example of using rufus with rest-client?

Lets say I have 24 http requests that are on schedule to call each request every 10 seconds.  But the use case I don’t know how to handle is when an http request and response fails to complete within 10 seconds, and the scheduler just stops on that use case.  How do I fail gracefully so that scheduler continues to make the next h

[2014-05-08 21:45] #123 closed, assigned to nobody

[2014-05-14 09:45] pannous opened #124 "ArgumentError cannot parse '3 seconds'"
seriously?
'3s' ok, '3 seconds' not ?

scheduler.every time.t+" "+time.unit do self.invoke end # FAIL
scheduler.every time.t+time.unit[0] do self.invoke end  # OK

[2014-05-14 12:40] #124 closed, assigned to nobody

[2014-05-14 12:41] jmettraux opened #125 "use Chronic-Duration or equivalent if present"
similar to the optional Chronic support.

[2014-05-28 21:50] junhanamaki opened #127 "TZInfo AmbiguousTime and PeriodNotFound errors"
Hi.

I'm trying your amazing gem in a project and I've encountered the errors in the title, which can be reproduced with the following lines:

[code]

I've read http://rubydoc.info/gems/tzinfo/TZInfo/Timezone:local_to_utc and I think I grasp the reason for these errors, and that I was hoping was to know if rufus-scheduler has any mechanisms that I can use to prevent this error from raising, and if

[2014-06-06 20:46] #127 closed, assigned to jmettraux

[2014-07-15 20:19] #108 closed, assigned to jmettraux

[2014-08-14 01:24] ecin opened #128 "Attempt to obtain lock when scheduling a job."
Currently, a scheduler attempts to obtain a lock when it starts, such that only a single scheduler process is created.

For high availability, it's preferable if several scheduler processes are created, and they try to obtain an expiring lock only when scheduling a job. This way, if the master scheduler process fails, another scheduler process can take over.

I wanted to confirm that this is somet

[2014-08-14 02:13] #128 closed, assigned to nobody

[2014-08-14 21:52] jmettraux opened #130 "when confirm_lock returns false, jobs could stay (with next_time == false)"
as discussed in https://github.com/jmettraux/rufus-scheduler/pull/129/files#r16267813

investigate, work from the `confirm_lock` specs

[2014-08-15 20:51] jmettraux opened #132 "write doc for the new Lock mecha"
.

[2014-08-21 20:56] #132 closed, assigned to jmettraux

[2014-08-29 20:32] gnilrets opened #133 "Time zone not parsed correctly when it's made of two words"
It seems like the time parser doesn't work when a timezone is specified that contains underscores.  Here's an example showing the time returned for America/Detroit and America/New_York, both of which are in the same timezone.

I'm using version 3.0.8.

[code]

[2014-08-29 22:09] #133 closed, assigned to jmettraux

[2014-09-15 13:00] egenial opened #135 "Is there any instance limit rufus-scheduler?"
I have an app that works on EventMachine, and am using rufus to bill each client connected to the video/chat. And every customer has an instance of rufus-scheduler.

Is there any instance limit rufus-scheduler?

[2014-09-15 20:15] #135 closed, assigned to nobody

[2014-10-23 18:43] ksonbol opened #136 "What happens when multiple server workers are used?"
What happens when multiple workers of a server (like Unicorn) are running Rails? Does a single scheduled task get repeated many times as there are workers?

[2014-10-23 21:08] #136 closed, assigned to nobody

[2014-12-18 11:06] vitobotta opened #137 "Multiple instances of Rufus on different servers and failover"
Hi! I need to schedule tasks (Sidekiq jobs) for some billing related operations and I would like to use multiple instances of Rufus scheduler, on different servers, so that only one is "active" at any time, and another "node" takes over if the active one fails or crashes etc.

Any ideas?

Thanks!

[2014-12-18 11:09] #137 closed, assigned to nobody

[2015-03-04 01:33] PlatformIntegrity opened #139 "Rufus stopping after about 6 minutes"
Hey guys, I am currently using rufus-scheduler gem with my rails-app which is being redeployed every hour using chef and managed by nginx in conjunction with passenger. I had a couple of jobs that ran once a day, when the run time is within a couple of minutes of chef finishing and restarting nginx service it seems to run fine, outside of that windows the scheduler does not run at all. In light of

[2015-03-04 02:00] jmettraux commented on #139
Details please. http://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2015-03-04 02:08] jmettraux commented on #139
Passenger...

Please read the FAQ: https://github.com/jmettraux/rufus-scheduler#faq
This can help as well: http://stackoverflow.com/questions/tagged/rufus-scheduler+passenger

Closing as it's the classical "Passenger kills my rufus-scheduler thread".

[2015-03-04 02:08] #139 closed

[2015-03-11 10:44] jmettraux commented on #104
The FAQ is sufficient.

[2015-03-11 10:44] #104 closed

[2015-03-11 10:45] #111 closed

[2015-03-11 12:39] jmettraux opened #141 "problem with DST transitions"
As exposed in gh-140

[2015-03-15 22:18] jmettraux opened #142 "use "Japan" or some other "country" timezone as TZInfo test"
.

[2015-03-24 21:31] jmettraux opened #143 "link to crono"
Railsy: https://github.com/plashchynski/crono

[2015-03-24 22:14] #143 closed

[2015-03-25 05:53] ketan commented on #89
It appears that the cost of computing the frequency is directly proportional to the number of occurrences of the cron during the year.

I did a quick profiler run and found 2 places where we could optimize on computing the frequency of `*/2 * * * *` (pretty close to the worst case)

Changing the implementation of [parse_item](https://github.com/jmettraux/rufus-scheduler/blob/e514bd5a0fdde49240f3b5

[2015-03-25 06:31] jmettraux commented on #89
Hello,

sounds interesting. Could you please open a new issue and state which Ruby you're benchmarking against?

Thanks in advance,

John

[2015-03-25 21:30] jmettraux commented on #119
Done.

[2015-03-25 21:30] #119 closed

[2015-03-26 05:46] ketan opened #144 "wrong behaviour on some cron syntaxes"
The cron expression `23 10/2 * * *` means *every 23rd minute past the 10, 12, 14, 16, 18, 20 and 22nd hour*

rufus-scheduler is not in a position to understand, parse or execute stuff in accordance with this specification -

[code]

Generated output -

[code]

Expected output is -

[code]

[2015-03-26 06:41] jmettraux commented on #144
Thanks! I'll fix that.

[2015-03-26 06:46] jmettraux commented on #144
Fixed title, since rufus-scheduler obviously parses the cron syntax.

[2015-03-26 07:34] jmettraux commented on #144
`man 5 crontab`

       with  "<number>"	 specifies  skips  of  the  number's value through the
       range.  For example, "0-23/2" can be used in the hours field to specify
       command	execution every other hour (the alternative in the V7 standard
       is "0,2,4,6,8,10,12,14,16,18,20,22").  Steps are also  permitted	 after
       an asterisk, so if you want to say "every two hours", just us

[2015-03-26 07:34] #144 closed

[2015-03-26 07:37] jmettraux opened #146 "investigate enhancement for CronLine#frequency"
https://github.com/jmettraux/rufus-scheduler/issues/89#issuecomment-85859486 by @ketan

[2015-03-26 09:28] ketan commented on #144
Sorry about that. You are right, I tried typing the invalid cron using `crontab -e` and it was not accepted.

[2015-03-26 09:36] jmettraux commented on #144
OK, my Debian GNU/Linux's `crontab -e` doesn't complain on `23 10/2 * * *`. IMHO, it's valid, the range is simply 10 to 10.

[2015-03-26 21:30] jmettraux commented on #146
used bench in https://github.com/jmettraux/rufus-scheduler/commit/aa201ab6b45cb3718abe427bbdb17a9e6869ad58

got:
![image](https://cloud.githubusercontent.com/assets/3624/6857542/b643df58-d44a-11e4-9075-8fd5f511724c.png)

Let me try the `Set` enhancement.

[2015-03-26 22:07] jmettraux commented on #146
With the `Set` enhancement:
![image](https://cloud.githubusercontent.com/assets/3624/6858139/8f179a3c-d44f-11e4-9a75-0274580a558e.png)

OK, back to integrating the enhancement (Ruby >= 1.9 preserves Hash order, thus Set order, previous Rubies do not)...

[2015-03-26 22:29] #146 closed

[2015-03-26 22:30] jmettraux commented on #146
Thanks a lot!

[2015-03-27 03:57] ketan commented on #144
I did this on my centos and `crontab -e` asked me if I wanted to rectify an invalid cron. Some details and differences between centos/ubuntu follow -

### Centos

[code]

### Ubuntu

[code]

In some time, I'll report on the contents of the /tmp/cron-execution to report the behaviour of the cron syntax.

[2015-03-27 04:38] ketan commented on #144
Here goes, quite unexpected from what I was thinking about.

[code]

[2015-03-27 05:16] jmettraux commented on #144
If we were to follow your specification, then "23 10 * * *" could mean "every 23rd minute past the 10, 11, 12, ..., 23rd hour".

;-)

[2015-03-27 06:42] ketan commented on #144
I'm sorry about that. I should have read and understood the manual better.

[2015-03-27 06:53] jmettraux commented on #144
Hey, no worries. Thanks for your help.

[2015-04-07 03:24] luoguanzhong opened #147 "Does scheduler job is going to stop when sinatra server stopped."
@jmettraux Hi, I use `rufus-scheduler` in my sinatra project, when I start sinatra server, the scheduler job works. But does the scheduler job automatic terminate when I stop the sinatra server?

[2015-04-07 05:25] jmettraux commented on #147
Hello,

yes, it does.

[2015-04-07 05:25] #147 closed

[2015-04-09 01:51] mguymon opened #148 "Cron job ignores :first_at"
When using cron to schedule a job, `:first_at` of a DateTime has no effect on the `next_time`.

    the_fuuuuture = DateTime.parse('2020-01-01 15:00')
    Rufus::Scheduler.singleton.cron('45 15 * * *', first_at: the_fuuuuture, job: true).next_time

The result of `next_time` will be the next immediate schedule, e.g. today at 15:45, instead of all the way into the fuuuuture in the year 2020.

Rufus

[2015-04-09 03:48] #148 closed

[2015-04-09 03:48] jmettraux commented on #148
Thanks.

[2015-04-17 22:05] #142 closed

[2015-04-17 22:05] #141 closed

[2015-04-22 19:55] howardsternisbatman opened #150 "Scheduler caught exception"
hello,

I have a Dashing dashboard using the spreadsheet gem, everything works correctly but after about 30 minutes Scheduler throws a fit in the console window.

Any ideas?

thanks.

scheduler caught exception:scheduler caught exception:
scheduler caught exception:scheduler caught exception:

================================================================================scheduler caught exceptio

[2015-04-22 20:06] jmettraux commented on #150
Hello,

it says "Too many open files - /home/administrator/manchvegas/xls/newcases.xls".

Your code seems to open files and not close them. Fix this by closing the files.

Closing the issue since it is not a rufus-scheduler issue.

Kind regards.

[2015-04-22 20:06] #150 closed

[2015-05-22 23:37] pouellet opened #151 "Scheduler#timeline get stuck in infinite loop with cron schedule having a first_in defined"
The following result in an infinite loop :

[code]

I will submit a pull request with a possible fix, but I am not sure if it is the right solution. Pull request to come.

[2015-05-23 00:32] jmettraux commented on #151
Many thanks!

[2015-05-23 00:32] #151 closed

[2015-06-03 05:28] akhtarongraph opened #153 "code run multiple times"
[code]

when i using this code  "UserMailer.activity_mail(student)" is called four times. Please help me.

[2015-06-03 06:32] jmettraux commented on #153
Well, if you have 4 students who all have an active account and all yield a trueish value for `#do_activity` then I think it's normal to have `UserMailer.activity_mail(student)` getting called 4 times.

On the other hand, are you sure you don't have 4 Ruby processes running?

In what context are you running this? If the context is Ruby on Rails, on what server (Webrick, Thin, Unicorn, ...) are you

[2015-06-03 06:32] #153 closed

[2015-06-03 06:44] akhtarongraph commented on #153
We are using unicorn server, ngnix and rails 4.
The problem is that Each student is getting 4 mails. I have 10 student the 10 students get 4 mail each at same time.

[2015-06-03 06:48] jmettraux commented on #153
Please read on from https://github.com/jmettraux/rufus-scheduler#lockfile--mylockfiletxt

You're probably having 4 Ruby processes with a rufus-scheduler instance each. Hence the 4 emails.

[2015-06-14 02:08] jmettraux opened #154 "issue with cronline "52 0 * * *" on Ruby 2.2.2p95 x64"
[code]

[2015-06-14 09:45] deyvid5 opened #155 "How can I start rufus?"
Siily question, but needed to be asked.

[code]

How can I be assured it's even started?

[2015-06-14 10:00] jmettraux commented on #155
How do you assure that the code below is even started?

[code]

[2015-06-14 10:00] #155 closed

[2015-06-14 10:02] jmettraux commented on #155
Maybe, reading the friendly manual helps: https://github.com/jmettraux/rufus-scheduler#so-rails

[2015-06-14 11:24] deyvid5 commented on #155
Yes, exactly. I have this code into config/initalizers/rufus.rb
Of course, gem is installed. Is there sth to type in console, to start the schedule task to run "in the background"?

[2015-06-14 11:30] deyvid5 commented on #155
I'm totally new to Ruby. I don't even know where to find this

I assure you! It's #{Time.now}

[2015-06-14 11:32] deyvid5 commented on #155
Is there any command to type info command line to wait for this alert?

[2015-06-14 11:53] jmettraux commented on #155
Please read http://guides.rubyonrails.org/debugging_rails_applications.html#what-is-the-logger-questionmark to learn about rails loggers.

No, Rails will run the initializer which will start the scheduler.

You can simplify your testing by jumping just a little bit and try a `config/initializers/rufus.rb` that contains

[code]

Note that this furiously resembles the code in https://github.com/jmet

[2015-06-14 12:08] deyvid5 commented on #155
Thank you!~

I quess my task is not working at all (the mail one). Trying to do it since 3 days, no success. Starting to getting on my nerves...

[2015-06-19 15:05] dentarg opened #156 "NoMethodError: undefined method `+' for nil:NilClass"
This an obscure error I've encountered in a project using rufus-scheduler. I have not tried to reproduce the bug, as I've only seen it a total of two times during ~1 year. Just wanted to check if you would be able to understand the issue from the information I have available. If not, feel free to close this issue.

[code]

I gather it is [`t[:rufus_scheduler_time]` in timeout_jobs](https://github.

[2015-06-19 15:07] cafed00d4j opened #157 "Equality check warning in Ruby 2.2.2"
[code]

[2015-06-19 15:08] cafed00d4j commented on #157
There seems to be a  similar issue here - https://github.com/RubyMoney/money/pull/470/files

[2015-06-19 21:13] jmettraux commented on #157
Hello,

thanks for reporting these warning.

I have tried with
[code]
and

[code]

But I get no warning (yes, the lines you pinpointed above are interpreted).

When I turn on `-w` I get
[code]
Nothing related to Comparable or <=>.

If I look at the lines your warnings pinpointed above, they compare an instance of Time (or NilClass) with nil. Could it be that your project tweaks the Time class (or

[2015-06-19 22:14] jmettraux commented on #156
Hello,

I think there is no need to look for a solution in the direction of Zookeeper or Logging.

I simplified the timeout checking code: https://github.com/jmettraux/rufus-scheduler/blob/62bd931bb550a5a4ec1c1525ee44f6555c5cf728/lib/rufus/scheduler.rb#L591-L606

The 3 values now have to be present (previously only the 2 first) in order for a thread to be evaluated for a potential timeout.

I thin

[2015-06-19 22:14] #156 closed

[2015-06-19 22:44] dentarg commented on #156
Sure, a 3.1.3 release would be nice, then I can really leave this behind internally :). But there's no immediate hurry.

Thank you for the quick response, and the nice rufus-scheduler gem.

[2015-06-19 23:01] jmettraux commented on #156
OK, 3.1.3 released. Thanks again!

[2015-06-20 01:39] cafed00d4j commented on #157
Hi. Thanks for writing back.

I ran all of the above on Ubuntu 14.04 inside VMware workstation

The script I was trying this on was a simple rails app -- It was akin to a "hello world" program. Just a single controller that displays some text. I didn't include any Time modules etc. . .I first ran this on my terminal using ruby 1.9.3 and got the rufus-scheduler working as expected.... Then I switch

[2015-06-20 01:41] jmettraux commented on #157
OK, waiting for Monday.

Have a nice week-end!

[2015-06-22 13:22] cafed00d4j commented on #157
Hi,

I ran your test script. And it worked correctly.

![image](https://cloud.githubusercontent.com/assets/4305228/8282624/0aaed854-18c0-11e5-9968-7f88a9261629.png)

However, it doesn't seem to work in the context of rails. Is this an issue with the rails version or something?

Thanks!

[2015-06-22 20:23] jmettraux commented on #157
Hello,

OK, so closing the issue rufus-scheduler wise.

Next step for you is to try a simple Rails application (no extra gem, no rufus-scheduler) on that same Ruby 2.2.2. The issue can probably be reproduced with a simple
[code]

You'll probably hit one of those: https://github.com/rails/rails/search?q=Comparable&type=Issues&utf8=%E2%9C%93

Good luck, best regards.

[2015-06-22 20:23] #157 closed

[2015-06-22 20:25] jmettraux opened #158 "fix -w resulting warnings"
[code]

as seen in gh-157

[2015-07-20 13:51] jun85664396 opened #159 "Sometimes thread is generate too much..."
Hi there.
I using rufus-scheduler + unicorn
Sometimes thread is generate too much....
I don't understand this problem.
see my below screenshot!
![2015-07-20 10 15 41](https://cloud.githubusercontent.com/assets/7875341/8768825/4d1008c6-2ec8-11e5-84a8-85fbfd32e96d.png)
..after die ... XD
![2015-07-20 10 20 30](https://cloud.githubusercontent.com/assets/7875341/8768851/fb0dd8a4-2ec8-11e5-92f1-4c66d1b

[2015-07-20 20:42] jmettraux commented on #159
Hello,

your second screenshot says:
[code]
You are increasing the max threads by yourself... You are inviting the explosion on yourself.

Why do need to wrap a `Rufus::Scheduler.singleton.at` within the `Rufus::Scheduler.singleton.every`? Why don't you simply call
[code]
?

I really don't know what else `Work.scheduling` does, but you should write simpler, more straightforward code.

[2015-07-20 20:42] #159 closed

[2015-07-27 09:21] jun85664396 commented on #159
The main cause is idle threads.
the threads hasn't disappeared when they're job finished.
It bring bottleneck and soon my work server died.
so i tried to add the code that kill idle threads in every 2 minute.

[2015-07-27 09:26] jun85664396 commented on #159
resolved!
The main cause is idle threads.
the threads hasn't disappeared when they're job finished.
It bring bottleneck and soon my work server died.
so i tried to add the code that kill idle threads in every 2 minute.
[code]

[2015-07-28 03:01] jmettraux commented on #159
Hello,

well done.

The normal scenario would be to leave the work_threads pegged at 100 or some other positive integers and leave it like that, not adding 30 to the max whenever the max was nearing...

I think that simply removing your auto `+30` should have fixed the issue in the first place.

Best regards.

[2015-08-11 08:26] mgmacri opened #160 "NoMethodError: undefined method `each_with_index' for nil:NilClass"
{ 15648420 rufus-scheduler intercepted an error:
      15648420   job:
      15648420     Rufus::Scheduler::EveryJob "10m" {}
      15648420   error:
      15648420     15648420
      15648420     NoMethodError
      15648420     undefined method `each_with_index' for nil:NilClass
      15648420       /home/matthew/.rvm/gems/ruby-2.1.2/gems/twitter_ebooks-3.1.0/lib            /twitter_ebooks/suffi

[2015-08-11 09:14] jmettraux commented on #160
Hello,

if you take the time to read the error message, you'll notice it happens at

[code]

Investigate from there. Rufus-scheduler is merely reporting the issue.

Best regards.

[2015-08-11 09:14] #160 closed

[2015-08-11 09:24] mgmacri commented on #160
Thank you very much, just so I'm crystal clear on this: rufus-scheduler is inheriting the method 'each_with_index' from twitter_ebooks-3.1.0 which is located in /path/to/suffix.rb and ought to be defined on line 59, but, clearly is not defined.

[2015-08-11 09:30] jmettraux commented on #160
No, rufus-scheduler is not inheriting anything from any other gem.

Twitter_ebooks-3.1.0 is calling `each_with_index` on something that is `nil` at `/home/matthew/.rvm/gems/ruby-2.1.2/gems/twitter_ebooks-3.1.0/lib/twitter_ebooks/suffix.rb:59`

And yes, clearly, `each_with_index` is not defined there, it's merely called. `each_with_index` is (unless diverted) defined at http://ruby-doc.org/core-2.2

[2015-08-11 09:41] mgmacri commented on #160
Thanks for the clarification, should I resolve this issue would it be alright if I posted the results here, or should I do so on the twitter_ebooks github page?

[2015-08-11 09:44] jmettraux commented on #160
You're welcome.

Feel free to post a link to the resolution from here.

Best regards.

[2015-08-12 14:55] mrvovanness opened #161 "Possibility to pass day of week in first_at"
I just want to ask - is a possibility to pass day of week to first_at. I use resque-scheduler for dynamic scheduling in such manner:
[code]
I just read docs on rufus-scheduler and resque-scheduler and didn't find answer.

[2015-08-13 01:27] jmettraux commented on #161
Hello,

if the Chronic gem is present, rufus-scheduler >= 3.0 should accept something like
[code]

But, iirc, resque-scheduler still uses rufus-scheduler < 3.0, so you're probably better off with something like:
[code]

Best regards.

[2015-08-13 01:27] #161 closed

[2015-08-25 04:21] cuongpro2511 opened #162 "BSON::InvalidKey"
Please help me solve this problems:
[code]

error code:

[code]

I'm stuck in this problem, because that not happens all. I checked many times and that sometimes happen.

[2015-08-25 05:08] jmettraux commented on #162
Hello,

it's quite obvious:
[code]
It's probably triggered by your
[code]
Since Time instances are not allowed in BSON, try with something like
[code]

Closing since it's not a rufus-scheduler issue at all.

**Warning**

You are shooting yourself in the foot with your code. It's bad to instantiate a new rufus-scheduler instance each time you call `expired_at=`. Do you realize that this creates a n

[2015-08-25 05:08] #162 closed

[2015-08-27 21:09] jhw-at-prosperworks-com opened #163 "six-field cronlines with division syntax in the seconds field lose the beat"
Howdy, thanks for building a terrifically useful gem.

Unfortunately, I've found an unexpected behavior: cronlines such as '*/10 * * * * *' exhibit a strange behavior where they lose their rhythm after a few beats.

It seems that the logic in Cronline.next_second() has a discontinuity when time.sec exceeds secs.last: it adds a minute, rather than rolling back around to secs.first.

I don't have a

[2015-08-27 21:10] jhw-at-prosperworks-com commented on #163
The PR which demonstrates this issue is PR https://github.com/jmettraux/rufus-scheduler/pull/164.

[2015-08-27 21:13] jhw-at-prosperworks-com commented on #163
I believe the problem comes down to this line in Cronline.next_second(): https://github.com/jmettraux/rufus-scheduler/blob/master/lib/rufus/scheduler/cronline.rb#L297

It seems all of the new specs which I added, which fail, involve going through that early return logic.  All the existing specs, which pass, fall through to the bottom of the method.

[2015-08-27 21:13] jmettraux commented on #163
Thanks a lot for the excellent report. Give me a few days.

[2015-08-27 21:14] jhw-at-prosperworks-com commented on #163
You bet!

[2015-08-28 22:46] #163 closed

[2015-08-28 22:55] jmettraux commented on #163
I fixed the issue and released 3.1.4.

Thanks a lot! Have a nice week-end!

[2015-08-31 20:31] jhw-at-prosperworks-com commented on #163
Wow, that's awesome.  Thanks!

[2015-09-10 20:48] messuti-edd opened #165 "Not working on rails 4 server running on daemon mode (-d)"
Tested with the simple example from the readme:

[code]

When starting the rails server with `rails server -d &`, rufus scheduled tasks won't fire up.

I've found out that adding `s.join` at the end of the script fixes the issue when running as daemon, but when running just as `rails server` the web server won't work, so I guess this is not intended to be used with rails.

[2015-09-10 21:09] jmettraux commented on #165
Could you please tell which web server you're running Rails on?
Then, could you please give here the first 100 lines of the Rails log you obtain?
Could you please state what operating system you're running on and what version of Ruby?
Anything else you forgot to mention?

Thanks in advance.

[2015-09-10 21:30] jmettraux commented on #165
Indeed `s.join` is intended only for stand-alone scripts.

[2015-09-10 22:07] messuti-edd commented on #165
Server: thin
OS: We have reproduced this on MacOS and Linux Ubuntu
Ruby version: 1.9.3p551

The first lines of the server booting not in daemon mode:
[code]

The first lines of the log in daemon mode:
[code]

[2015-09-10 22:10] jmettraux commented on #165
Have you tried flushing the logger?
Have you tried with Webrick (not Thin)?

[2015-09-10 22:13] jmettraux commented on #165
Interesting, "Setting up scheduled jobs..." appears in daemon mode, but not in "normal" mode.

[2015-09-10 22:26] jmettraux commented on #165
OK, I guess the thread for the scheduler is created before the `-d` daemon double fork. Looking up...

[2015-09-10 23:09] messuti-edd commented on #165
Just tried with Webrick, seeing the same behavior.

[2015-09-10 23:13] jmettraux commented on #165
I tested on Rails 3.2.22 / OSX and seeing the same behaviour. Now, what I don't understand is why nobody did complain in all those years. One possible explanation would be that only a few people use `-d`.

[2015-09-10 23:15] messuti-edd commented on #165
It surprised me too not to find an issue here about it already, I guess `-d` is not as commonly used as I thought.

[2015-09-10 23:17] messuti-edd commented on #165
I did found one or two posts on stackoverflow about it though.

[2015-09-10 23:45] jmettraux commented on #165
Links?

[2015-09-11 00:02] jmettraux commented on #165
I like runit http://www.mikeperham.com/2014/07/07/use-runit/ to run stuff. I never daemonize development servers.

[2015-09-11 01:24] jmettraux commented on #165
Another solution would be to use Unicorn and start the scheduler in an `after_fork` block.

[2015-09-11 01:31] jmettraux commented on #165
Just tried on OSX with Unicorn 4.9.0 and `bundle exec unicorn -D`, without bothering about writing an `after_fork` and it works out of the box. The main process forks a worker process and that worker process hosts the scheduler thread.

I will write a piece of documentation to close this issue.

[2015-09-11 01:45] #165 closed

[2015-09-11 12:43] messuti-edd commented on #165
OK thanks for the support @jmettraux :)

[2015-09-24 02:53] jmettraux opened #166 "not a valid cronline : '0 22 * * 1-5' on Windows "mingw" Ruby"
rufus-scheduler version: 3.1.4

Details at http://stackoverflow.com/questions/32751953/rufus-scheduler-not-a-valid-cronline-on-windows

[2015-09-24 04:00] jmettraux commented on #166
works with

* ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-cygwin] on Windows 7 Professional

[2015-09-24 20:45] jmettraux commented on #154
Seems this issue is limited to "mingw" Ruby "distributions".

Moving work to https://github.com/jmettraux/rufus-scheduler/issues/166

[2015-09-24 20:45] #154 closed

[2015-09-24 21:43] jmettraux commented on #166
Reopening since the fix causes problems on mainstream Ruby / OS combinations.

[2015-09-24 22:06] jmettraux opened #167 "remaining issues on "mingw" Ruby"
see https://gist.github.com/jmettraux/e373c9978613c3bd8834

[2015-09-24 22:21] #166 closed

[2015-09-24 22:31] jmettraux commented on #167
Probably due to lacking TZ info on mingw platform.

[2015-09-30 05:35] jmettraux opened #170 "enhance job id uniqueness"
build on gh-169

[2015-09-30 05:40] kssminus commented on #170
@jmettraux
This issue occurred on jruby-1.7.16.1

[2015-09-30 05:42] jmettraux commented on #170
@kssminus what OS and version?

[2015-09-30 06:43] jmettraux commented on #170
Unfortunately, the `SecureRandom` approach doesn't succeed at the `10_000` test.

<img width="710" alt="screen shot 2015-09-30 at 15 41 30" src="https://cloud.githubusercontent.com/assets/3624/10186163/e974abd2-6789-11e5-9f69-2ba7fc49fa4b.png">

[2015-09-30 06:44] #170 closed

[2015-09-30 06:52] jmettraux commented on #170
@kssminus Many thanks!!

[2015-10-02 10:01] shilpi230 opened #171 "Scheduler is running two three times."
I am using scheduler to run some sidekiq jobs by using cron
[code]

[2015-10-02 10:54] jmettraux commented on #171
Hello,

please indicate:

* Ruby version
* Operating System and its version
* rufus-scheduler version

If you are running this in a framework (for example Ruby on Rails or Sinatra) please indicate what framework and what version.
If running a web application please indicate on what server you're running it (Unicorn, Passenger, Webrick or something else).

Please explain thouroughly what you mean b

[2015-10-05 20:32] jmettraux commented on #171
I will close this non-issue tomorrow.

[2015-10-06 04:50] shilpi230 commented on #171
Hey sorry @jmettraux sorry for late reply i was doing the same thing but i have no idea instead calling that worker one time it was calling it more than once so instead of calling the worker class i directly called the perform function with proper arguments, So now issue is solved :)

[2015-10-06 04:50] #171 closed

[2015-10-06 04:57] jmettraux commented on #171
Ah, good news :-)

Well done :+1:

[2015-10-27 09:36] riocampos opened #174 "issue: cron"
I want to do process every 10 seconds in 7th to 9th minute, so I set cron parameter `'*/10 7,8,9 * * * *'` or `'*/10 7-9 * * * *'`. rufus-scheduler cron wake at every 10 sec on 7th minute, but on 8th and 9th minute it wake only 50 second.
This is bug? or how to set parameter?

[code]
I'm sorry for poor English.
thanks.

[2015-10-27 10:03] jmettraux commented on #174
Hello, no worries for the english.

This is what I see:
[code]
with
[code]
and
[code]

Could you please tell me what version of Ruby and rufus-scheduler and on which Operating System you encountered this problem?

Meanwhile, I'm testing with "7,8,9" like you did.

[2015-10-27 10:20] jmettraux commented on #174
I'm seeing:
[code]

[2015-10-28 01:55] riocampos commented on #174
thanks for checking, and sorry to delay to reply.

I use Ruby 2.1.5 on Yosemite (OS X 10.10.5) and rufus-scheduler-3.1.3, so I update rufus-scheduler to 3.1.7, I get the result I want.

[code]

and I get same result if parameter of minute is range `'*/10 51-53 * * * *'`.

Thank you very much! and thanks to this great gem!

[2015-10-28 01:59] jmettraux commented on #174
That's great!

Thanks for reporting the problem. So it got fixed between 3.1.3 and 3.1.7...

ありがとうございました！

[2015-10-28 01:59] #174 closed

[2015-11-05 22:04] jmettraux opened #176 "cron DST autumn transition issue America/Los Angeles"
As claimed in #175

[2015-11-05 22:19] jmettraux commented on #176
Hello @alyssa

`spec/cronline_spec.rb:919` is not failing on my machine for those two Ruby versions:

[code]

What are you running on and with what version of Ruby (development and production ("Square" I guess)) ? Thanks in advance

[2015-11-05 22:29] alyssa commented on #176
@jmettraux that is no longer failing for me. the failing spec I pasted earlier was a bug on my part (pushed a fixed). These are the failing specs I see now:

[code]

[2015-11-05 22:36] jmettraux commented on #176
Thanks for the update @alyssa, could you please answer my Ruby/OS versions question?

[2015-11-05 22:38] alyssa commented on #176
@jmettraux ah missed that. answers below:

[code]

[2015-11-06 22:19] jmettraux commented on #176
Hello @alyssa ,

if you could take the time to look at the fix, from the point of view of your specs and the specs I added around it.

I made sure the "every minute" cron didn't jump one hour. According to the specs you added, I think that is what you observed and want fixed.

Thanks in advance.

[2015-11-09 17:33] alyssa commented on #176
@jmettraux Thanks for the fix. I left a comment on 1eb484345eb3aac7478fdbb058cb88af9ab3fa43. Can you open a PR so I can see if specs are passing/failing?

[2015-11-09 20:32] jmettraux commented on #176
Hello,

specs are passing: https://travis-ci.org/jmettraux/rufus-scheduler (click on the "build: passing" badge on top of the readme).

In reply to your note:

The successful expectation shows that the transition is hit (-7 becomes -8). But I will rework this spec so that it's more explicit.

[2015-11-09 20:47] jmettraux commented on #176
In reply to your note (2):

Please look at https://github.com/jmettraux/rufus-scheduler/blob/8c39fc3d5503a08da5f524cec080c4dc4cf38b64/spec/cronline_spec.rb#L1036-L1066 for the latest version of this spec.

It shows the 0150 PDT to 0100 PST transition (as fixed by the set of fix commits).

[2015-11-09 23:01] alyssa commented on #176
@jmettraux ah, didn't realize the commits linked here are already in master. The clarification makes it much easier to read. thanks!

can we cut a release?

[2015-11-09 23:53] #176 closed

[2015-11-09 23:53] jmettraux commented on #176
Released. Many thanks!

[2015-11-11 23:54] travis-bear opened #178 "rspec tests -- not passing on vanilla checkout"
I hit this on mac and linux, using ruby 2.1 and 2.0, on bash and zsh.  Is there additional config required to get this working?

Thanks!

-Travis

[master][~/git/community/rufus-scheduler]$ bundle exec rspec
RUBY_VERSION: 2.0.0
RUBY_PLATFORM: x86_64-linux
.......................................................FF.......................................................................................

[2015-11-12 01:30] jmettraux commented on #178
Hello,

Travis-CI tells me Ruby 2.1 and 2.2 are OK: https://travis-ci.org/jmettraux/rufus-scheduler

My OSX succeeds and says:
[code]

My Debian GNU/Linux succeeds and says:
[code]

I manage my Ruby with https://github.com/postmodern/chruby and build them with https://github.com/postmodern/ruby-install#readme

Sorry.

[2015-11-12 01:30] #178 closed

[2015-12-07 20:31] balasankarc opened #182 "Test will fail when run during the month of December"
In the test file https://github.com/jmettraux/rufus-scheduler/blob/master/spec/job_cron_spec.rb#L111 , since `n.month+1` will give `13` which will raise an `Argument out of range` error on `Time.parse()`, the test will fail when run during the month of December. :)

[2015-12-07 20:49] #182 closed

[2015-12-09 00:45] kotowick opened #184 "Listing all active/waiting schedulers"
In Rails, it it possible to list all "schedulers" (in perhaps a service file)?

With Delayed Job, for example, we could run Delayed::Job.all and this would return a list of all active/waiting jobs through Delayed Job.

[2015-12-09 05:25] jmettraux commented on #184
I guess you want to list "job" instances and not "scheduler" instances.

https://github.com/jmettraux/rufus-scheduler#looking-up-jobs

Maybe my guess is wrong. If so, rephrase your question.

Best regards.

[2015-12-09 05:25] #184 closed

[2015-12-11 06:39] lanjingyu opened #185 "Maybe there should be a web UI to see the jobs"
Just like the sidekiq web UI , a jobs list or something that can monitor the jobs.
Because I don't know when that schedule job run, the last time it run, how many times it run or something like that.
Maybe this is not an issue, but a request?

[2015-12-11 06:52] jmettraux commented on #185
Please read the documentation: https://github.com/jmettraux/rufus-scheduler#looking-up-jobs
It explains you how to list jobs and get details about them.

Regarding a web UI, I consider it out of scope, rufus-scheduler is a pure library, not a Ruby on Rails plugin or a Rack middleware. If I had to make a web UI I'd make it Sinatra based and then everyone would complain because they want something R

[2015-12-11 06:52] #185 closed

[2015-12-15 15:39] emaiax opened #186 "Permission denied on lockfile when loading Rails Console"
I've configured rufus-schedule to use some lockfile on production just like these:

[code]

And when I try to access the production console:

[code]

That means my app runs under a different user than my ssh user, but I think my scheduler shouldn't be loaded on console. Also, we use this filelock because we run Puma with a few threads and they've been starting the scheduler multiple times.

Is the

[2015-12-15 20:39] jmettraux commented on #186
This is more a Ruby on Rails question than a "rufus-schedule" question.

You're in charge, you could take inspiration from http://stackoverflow.com/questions/4603704/how-can-i-detect-if-my-code-is-running-in-the-console-in-rails-3 and avoid scheduling when the initializer is run in console mode.

I don't know what version of Ruby on Rails you're using but tell me if that StackOverflow `if` block w

[2015-12-15 20:39] #186 closed

[2015-12-15 21:01] emaiax commented on #186
@jmettraux thanks, your tip actually worked for me.

You're in charge, you could take inspiration from http://stackoverflow.com/questions/4603704/how-can-i-detect-if-my-code-is-running-in-the-console-in-rails-3 and avoid scheduling when the initializer is run in console mode.

Thinking about it again, I guess you're right. The whole problem isn't the lockfile, but how I'm trying to do things with

[2015-12-15 21:02] jmettraux commented on #186
You're welcome.

What version of Ruby on Rails are you using?

[2015-12-15 21:03] emaiax commented on #186
Oh, I'm sorry. Ruby 2.2.2, Rails 4.2.5.

[2015-12-15 21:04] jmettraux commented on #186
Thanks!

[2015-12-15 22:05] jmettraux commented on #186
https://github.com/jmettraux/rufus-scheduler#avoid-scheduling-when-running-the-ruby-on-rails-console

Thanks again.

[2015-12-23 15:53] dsvoba opened #187 "Cannot load such file in production"
The gem does work in development environment, but in production unicorn log shows "`require': cannot load such file -- rufus-scheduler (LoadError)". Any idea?

[2015-12-23 20:43] jmettraux commented on #187
http://ruby-doc.org/core-1.9.3/LoadError.html

Simply make sure that your production environment has access to rufus-scheduler, via its Gemfile or manually via its classpath.

Best regards.

[2015-12-23 20:43] #187 closed

[2015-12-24 07:40] jmettraux opened #188 "some cron strings take a long time to schedule"
As somehow reported in http://stackoverflow.com/questions/34446354 by @kssminus

https://gist.github.com/kssminus/8e26f1950056011a3499 (to be refined)

[2015-12-24 07:49] jmettraux commented on #188
refined into https://gist.github.com/jmettraux/b53f2c1932d9bdcc489a

[code]

Seems like `*/5 * * * *` and `*/10 * * * *` are the costliest.

[2015-12-25 04:07] jmettraux commented on #188
Caused by #89

[2015-12-25 04:25] jmettraux commented on #188
Please double-check.

[2015-12-25 04:25] jmettraux commented on #188
@kssminus please double-check this solution.

[2015-12-28 00:26] kssminus commented on #188
@jmettraux awesome! It's six times faster than before. It's too late but, Merry Chrismas. :santa:

[2015-12-28 01:24] jmettraux commented on #188
Ah, that's good news. Merry Late Christmas to you as well.

I'll package that into 3.2.0 and release.

새해 복 많이 받으세요!

[2015-12-28 01:25] #188 closed

[2015-12-28 01:46] jmettraux commented on #188
https://dl.dropboxusercontent.com/u/76595/blog/20151228.html released rufus-scheduler 3.2.0

[2015-12-28 10:21] mgagan opened #189 "PhusionPassenger killing ruby process in idle time."
Hi,

Integrating rufus scheduler in Ruby on Rails Application

rufus-scheduler 3.1.10
ruby 1.9.3
Phusion Passenger 5.0.1
Apache 2.4

scheduler = Rufus::Scheduler.new

scheduler.cron '00 16 * * *' do
  Model.some_method
end

scheduler.cron '00 17 * * *' do
  Model.some_method
end

def self.some_method
end

In development its working fine.

Coming to production its not working

Some of them saying l

[2015-12-28 10:37] jmettraux commented on #189
Hello,

have you read https://www.phusionpassenger.com/library/indepth/ruby/spawn_methods/ ?

Closing since it's not a rufus-scheduler issue.

[2015-12-28 10:37] #189 closed

[2015-12-28 10:42] mgagan commented on #189
Hi,

I already read this https://www.phusionpassenger.com/library/indepth/ruby/spawn_methods/ ?, I know the issue from phusion passenger. still i thought if any one has got same issue. I'm waiting for a solution.

Once i get a solution. lets close it out.

Thanks in advance.

[2015-12-28 10:44] jmettraux commented on #189
Why don't you ask to the Phusion Passenger mailing list? It's not an issue caused by rufus-scheduler.

[2015-12-28 10:45] jmettraux commented on #189
https://groups.google.com/forum/#!forum/phusion-passenger

[2015-12-28 11:18] jmettraux commented on #189
Passenger + Apache configuration reference: https://www.phusionpassenger.com/library/config/apache/reference/

`RailsAppSpawnerIdleTime` is no longer available since Passenger 4.x https://www.phusionpassenger.com/library/config/apache/reference/#railsappspawneridletime

They say you should be using smart spawning, you probably have to use the spawn hooks described in https://www.phusionpassenger.c

[2016-01-05 13:08] balasankarc opened #190 "Tests failing randomly"
Hi,
I have packaged rufus-scheduler for Debian, but it seems the tests are failing randomly.
See two logs below

1. http://paste.debian.net/359992/
2. http://paste.debian.net/360012/

This has caused an RC bug to be filed against it  - https://bugs.debian.org/809289

Do these tests depend on the time taken for running them? Or, if you can confirm that rufus-scheduler actually works (from all those

[2016-01-05 20:37] jmettraux commented on #190
Hello,

No.

 https://travis-ci.org/jmettraux/rufus-scheduler <-- do you consider it a confirmation?

I will add Ruby 2.2.3 to Travis and see what happens.

[2016-01-05 21:00] jmettraux commented on #190
Added 2.2.3 to https://travis-ci.org/jmettraux/rufus-scheduler and made sure to run that version 3 times. It was successful the 3 times.

I think it might be related to how Ruby is compiled, your infrastructure does it differently.

What version of Debian GNU/Linux are you using? Mine is a Jessie and I see only Ruby 2.1.

[2016-01-06 04:25] balasankarc commented on #190
On 6 January 2016 2:30:42 am IST, John Mettraux <notifications@github.com> wrote:

The first log is from my local machine and second log is from official Debian build setup. Both runs Debian Unstable.

Anyway, seeing most of the tests run fine in those two logs, I am gonna temporarily disable the tests during bug so as to close the RC bug.
--
Sent from my Android device with K-9 Mail. Please excus

[2016-01-06 04:32] jmettraux commented on #190
OK, closing the issue here.

If the problem arises again in some form, I'll take the time to setup a test environment and try to fix that there.

Thanks!

[2016-01-06 04:32] #190 closed

[2016-01-11 14:37] xjz19901211 opened #191 "CronLine#frequency error"
Hello, I found a problem in use

[code]

[2016-01-11 21:11] jmettraux commented on #191
Hello,

[code]
gives
[code]

In the first case, the shortest "distance" is five minutes (300 seconds) from minute 55 to minute 0.

In the second case, the distance is always ten minutes (600 seconds).

Tell me if you need more help.

Best regards,

John

[2016-01-11 21:11] #191 closed

[2016-01-12 02:12] xjz19901211 commented on #191
@jmettraux I see, thank you very much

[2016-01-12 18:18] dugjason opened #192 "QUESTION: How can I prevent duplicate jobs from appearing in the queue?"
I'd like to find out how to prevent a job from being enqueued if another instance of that job is already enqueued.

I've tried experimenting with the [Scheduler#jobs](https://github.com/jmettraux/rufus-scheduler#schedulerjobstag--tags--x) stuff, but had no luck in returning the number of jobs with a given tag that are currently in my Redis queue.

Any suggestions?

[2016-01-12 21:20] jmettraux commented on #192
Hello,

Maybe you're having multiple instance of the scheduler

I don't understand that, especially since rufus-scheduler in itself has nothing to do with Redis. "had no luck", what does that really mean? The rufus-scheduler Scheduler#jobs will not return the number of jobs with a given tag that are currently in Redis, rufus-scheduler will not magically query Redis for you.

1)

Most of the schedu

[2016-01-12 21:20] #192 closed

[2016-01-12 21:38] dugjason commented on #192
Yes, thanks. Very helpful. Right now I only use rufus-scheduler to schedule when my recurring jobs are put into a Redis queue to be processed by Resque; this seems to be where the confusion comes from.
I'll interface directly with Redis to pull this stuff out. This was totally down to user error. Thanks again!

[2016-01-14 14:38] dugjason commented on #192
Just for reference, this is what I was looking to achieve:

[code]

I won't enqueue a new `UpdateMetricsJob` job if one already exists in my Resque queue

[2016-01-14 21:12] jmettraux commented on #192
If you allow me:

[code]

[2016-02-18 22:51] maxrosecollins opened #196 "Bundle error"
Not sure where to ask this question... here or [sidekiq-scheduler]( https://github.com/moove-it/sidekiq-scheduler)
I'm getting the following error

[code]

The problem is this gem _is_ installed. I have tried removing it and reinstalling it but I keep getting the same error.

Any ideas?
Thanks in advance

[2016-02-18 22:55] jmettraux commented on #196
Please try to run `bundle install`, then try again. Tell me then if the issue is solved or not.

[2016-02-18 23:00] maxrosecollins commented on #196
Hi @jmettraux

I tried that but it didn't work. I had to stop and start spring to fix the issue.
I can't imagine it has anything to do with rufus

[2016-02-18 23:00] #196 closed

[2016-02-18 23:01] jmettraux commented on #196
OK, you're welcome.

[2016-02-18 23:02] maxrosecollins commented on #196
Thanks for the quick response!!

[2016-02-24 00:37] jonbcampos opened #197 "subtracting from last day of the month"
I'm trying to "0 0 L-15 * *" and I get a "couldn't parse". I'm trying to offset back from the last day of the month. Thoughts on how to achieve this?

[2016-02-24 01:04] jmettraux commented on #197
Hello,

so you want to trigger something 15 days before the end of the months. I guess your requirements say "two weeks before the end of the month". Why not simply trigger on the 15th of each month?

I could implement `L-15` but it would conflict with entries like `4-6` (the 4th, 5th and 6th days).

Best regards.

[2016-02-24 01:09] jmettraux commented on #197
You could also trigger on the 15th (30-25), the 16th (31-25), the 13th (28-15) and the 14th (29-15), then, within the triggered code, if it's really 15 days to the end of the month, go on with the triggering.

[2016-02-24 01:28] jonbcampos commented on #197
I will look into those ideas. The reason that L-x is good is cause you
could always be sure to run x days from the end of the month whether you
are in a month with 28 days or 31 days.
On Feb 23, 2016 7:09 PM, "John Mettraux" <notifications@github.com> wrote:

[2016-02-24 01:36] jmettraux commented on #197
You're welcome.

[2016-02-24 01:48] jonbcampos commented on #197
Sorry, you caught me mid thought. Thank you very much for the quick
response.
On Feb 23, 2016 7:36 PM, "John Mettraux" <notifications@github.com> wrote:

[2016-02-25 03:39] jmettraux commented on #197
Hello,

re-opening, I like the idea after all. I will implement it.

[2016-02-25 04:05] jonbcampos commented on #197
You rock!
On Feb 24, 2016 9:39 PM, "John Mettraux" <notifications@github.com> wrote:

[2016-02-25 08:03] jmettraux commented on #197
Please review.

Thanks in advance.

[2016-02-25 09:49] jonbcampos commented on #197
Just read all the commits and I think it looks good. Very creative solution
using the negative values and ranges. I don't know if you care to call out
in your documentation that this functionality is how to mimic the cron
expression "L". Other than that I think you've knocked it out of the park.
On Feb 25, 2016 2:03 AM, "John Mettraux" <notifications@github.com> wrote:

[2016-02-25 09:59] jmettraux commented on #197
@jonbcampos wrote:

Well, it's not mimicking "L", else I wouldn't have implemented it since rufus-scheduler already supports "L": https://github.com/jmettraux/rufus-scheduler#l-last-day-of-month

OK. Thanks a lot.

[2016-02-25 09:59] #197 closed

[2016-02-25 10:00] jmettraux opened #198 "implement "5L" aka "last Friday" (day of week)"
See https://en.wikipedia.org/wiki/Cron#Format

[2016-02-29 12:40] nazrulcse opened #199 "Run job multiple times"
I am using rufus-scheduler for a heroku application. I see it seems running multiple time. Is there any way to prevent this to run single time. I already tried
[code]
but doesn't work.

[2016-02-29 13:27] nazrulcse commented on #199
This is my config/initializers/scheduler.rb file
[code]
Every email goes three times, I am using heroku server, rails 3.1.7, ruby 2.0.0, rufus-scheduler (3.2.0)

Thanks

[2016-02-29 13:28] jmettraux commented on #199
Hello,

I am no Heroku specialist, but I think your dynos do not share files, hence your rufus-scheduler instances are each seeing their own ".rufus-scheduler.lock" files.

I would suggest you read the documentation about scheduling Heroku has published:
* https://devcenter.heroku.com/articles/scheduler#scheduling-jobs
* https://devcenter.heroku.com/articles/scheduled-jobs-custom-clock-processes#c

[2016-02-29 13:30] jmettraux commented on #199
Do you have 3 dynos running your application?

[2016-02-29 13:33] jmettraux commented on #199
Another question: are the 3 emails coming from the same scheduler or is there 1 email for 3 schedulers?

[2016-02-29 13:43] nazrulcse commented on #199
My application running 3 dynos, and scheduler running three times and send 1 email per scheduler. Here is the log for running three times
2016-02-29T12:00:00.166183+00:00 app web.2 - - **"Running: 00 12 * * *"**
325 <158>1 2016-02-29T12:00:00.156586+00:00 heroku router - - at=info method=GET path="/assets/kaia_theme-77255cf366b84c4ccab220c38f942475.css" host=shawnmc.cool request_id=481a5143-bf3a-4

[2016-02-29 14:00] jmettraux commented on #199
OK, I would simply suggest to do something like in your initializer:

[code]

See (and upvote) http://stackoverflow.com/questions/26416213/schedule-rufus-scheduler-onto-worker-dyno-on-heroku

[2016-02-29 14:02] #199 closed

[2016-02-29 20:11] jmettraux commented on #199
You're welcome.

[2016-03-07 11:53] federicolucca opened #200 "method in helper class"
Hi everyone,

i define scheduler in app.rb,and the method called in the job in an helper of the app.Everything is ok scope and load order.

[code]

if i put all code of "scheduler1h" in the job,everything is ok,otherwise no.The scheduler does not work
Someone can help me

Federico

[2016-03-07 12:09] jmettraux commented on #200
Hello,

I'm sorry but could you please indicate what is your context? What framework are you using?

John

[2016-03-07 12:47] federicolucca commented on #200
Sorry,

Framework is Padrino v0.13. ,the gem version is the lastest.
in app.rb,the main file of the app class, i put the require "require 'rufus-scheduler' " and the code above.

The method in the helper is ok,i use the same method in some other controllers class of the app.

Federico

[2016-03-07 12:51] jmettraux commented on #200
OK, I have no experience with Padrino and clearly, this is a Padrino question, not a rufus-scheduler question.

What happens if you call `schedule1h(nil)` directly from app.rb? By "directly" I mean not wrapping it within a rufus-scheduler block.

[2016-03-07 13:05] federicolucca commented on #200
ok the problem is the scope of the helpers in Padrino app.rb

Sorry for the mistake
Thanks for your time

[2016-03-07 13:05] #200 closed

[2016-03-07 13:05] jmettraux commented on #200
OK, cool, well done!

[2016-03-08 01:06] MaxPleaner opened #201 "Quickstart command doesnt join"
I am just copying and pasting the quickstart command into pry. At the bottom it just hangs. I expected it to return me back to my pry prompt - am I missing something here? I'm using gem version 3.2.0 and Ruby 2.4.0

[code]

[2016-03-08 01:20] jmettraux commented on #201
Hello,

it's completely normal. You're telling your current, Pry, thread to join the rufus-scheduler thread, and that's what it does. Don't join if you want to continue using your Pry (thread).

Best regards.

[2016-03-08 01:20] #201 closed

[2016-04-01 21:13] simook opened #202 ""*/0" results in infinite loop with CronLine.new"
This issue occurs when using the every syntax that has a value of `0`. While the value is invalid and should not be used in cron expression, it does result with CronLine going into an infinite loop. Expected behavior would be to raise an exception.

Found in versions 3.1.1 to 3.2.0.

Steps to reproduce:
1. Use the every syntax `*/0` in the cron expression.
2. `irb`
3. `require "rufus-scheduler"`
2

[2016-04-01 22:20] simook commented on #202
https://github.com/jmettraux/rufus-scheduler/pull/203

[2016-04-01 22:21] jmettraux commented on #202
Argh, already fixed on my side.

[2016-04-01 22:24] jmettraux commented on #202
OK, discarding my commit and taking yours in.

[2016-04-01 22:36] jmettraux commented on #202
Thanks a lot.

[2016-04-01 22:36] #202 closed

[2016-05-04 04:50] #198 closed

[2016-05-05 12:32] anjali-sharma commented on #186
In accordance with the option to avoid scheduling when running the rails console, is there a similar option to avoid scheduling in other scenarios where the rails environment reloads, such as when running migrations and other utilities using 'rake'. Or perhaps, a way to restrict the scheduling to rails server only.

Thanks in  advance. :)

[2016-05-05 12:42] jmettraux commented on #186
Hello,

I had a look at http://stackoverflow.com/questions/2467208/how-can-i-tell-if-rails-code-is-being-run-via-rake-or-script-generate

You could do something like:

[code]

[2016-05-05 12:59] anjali-sharma commented on #186
This works perfect. Thanks a lot for the quick response. :)

[2016-06-02 18:40] pelaprat opened #208 "singleton option doesn't work well for elastic-beanstalk deployment"
I'm struggling to deploy a rufus-scheduler to my RoR application via ElasticBeanstalk.

Following the docs, I instantiate a rufus-scheduler in an initializer (`config/initializers/scheduler.rb`). I've tried to instantiate it as a constant, singleton, and global variable but, because the initialization process runs four times, I get all sorts of weird effects (partly described [here](http://stackov

[2016-06-02 20:59] jmettraux commented on #208
Hello,

The title would be better as "singleton option doesn't work for elastic-beanstalk deployement".

A possible explanation would be that all your instances have their own ```/tmp/.rufus-scheduler.lock``` so that no locking at all occurs. That's easy to test.

the ```:lockfile``` system is meant for forking deployments, where a single host runs an app in multiple processes and the rufus-schedu

[2016-06-02 21:04] jmettraux commented on #208
(closing the issue but not the conversation)

[2016-06-02 21:04] #208 closed

[2016-06-02 21:14] pelaprat commented on #208
Bonjour!

We capped the number of instances to 1, so we know there's only one instance running. It looks like the multiple initializations is [just an apache thing, maybe?](http://stackoverflow.com/a/6450015/6405075)

I also tried the rake tasks approach referred to in the link above, but that won't work for us since the app UI enables users to create, edit, update jobs.

To try to debug what's go

[2016-06-02 21:22] jmettraux commented on #208
@pelaprat wrote:

One rufus-scheduler instance per Ruby process right?

As I wrote in my first answer, I suspect you have multiple processes on multiple hosts and those multiple hosts do not share the same ```/tmp```. But I cannot tell for sure since I have no access to your system.

[2016-06-02 21:24] pelaprat commented on #208
It seems like the right thing to do is write a custom locking mechanism that uses the RDS instance behind our EB environment.

[2016-06-02 21:26] jmettraux commented on #208
Yes!

[2016-06-02 21:27] jmettraux commented on #208
If you only do cron jobs, could something like this help: https://medium.com/@joelennon/running-cron-jobs-on-amazon-web-services-aws-elastic-beanstalk-a41d91d1c571#.nrsq9dknk

[2016-06-02 21:30] pelaprat commented on #208
We don't do only cron jobs. Let's give the RDS-backed locking mechanism a go and see how that works. Thanks!

[2016-06-02 21:48] jmettraux commented on #208
You're welcome!

[2016-06-06 17:35] pelaprat commented on #208
Well, that's not working either.

I think the core of the issue is about how apps get deployed and run in EB>

The initialization process is run four times during EB deployment. So that means four Scheduler instances get created during the initialization process. The first instance is created and sets the lock to `true`, so the last three instances are created but down.

Even if I create the Sched

[2016-06-06 21:05] jmettraux commented on #208
Are you trying to say that if you create the Scheduler inside of the initialization process you get two scheduler instances as well?

Now that you seem to have a custom scheduler lock that works between hosts, you could take inspiration from the rufus-scheduler vanilla lockfile implementation and pad your scheduler lock so that only a single scheduler instance gets started. One scheduler lock impl

[2016-06-06 21:10] pelaprat commented on #208
Actually, the logs show that four Scheduler instances are created. It's just that three of them are down. But instances of the Schedulers are made.

I tried this, and the problem isn't fixed since there seems to always be two RoR processes running for a single host of a single instance of my application. So as the user interacts with the application, the logs show that either one of two ruby proce

[2016-06-06 21:27] jmettraux commented on #208
It simply seems that the package you use for Rails on ElasticBeanstalk is using something like Unicorn or Passenger, a server that forks multiple (in your case 2) ruby processes to serve requests. You'd have to identify what server your app runs on (the head of the logs usually tell).

Maybe you should rethink your architecture and instead of having a single Rails app that does everything, you cou

[2016-06-06 21:38] pelaprat commented on #208
We're using Puma as our web server, but I think you're right, we need to re-think the architecture and separate the web app from another app to manage the scheduling. The problem clearly isn't Rufus Scheduler :)

Thanks!

[2016-06-13 06:37] federicolucca opened #209 "every week scheduler"
Hi everyone,

i'm trying to deploy and exec a job every sunday midnight.
i think the scheduler is resetted every deployment and the new release could be random,when the fixes are ready.

What's the best way to do this scheduler?
`LBSchedulerHelper.scheduler.cron '0 0 * * 0' do  `

this doesn't work for me

thanks
Federico

[2016-06-13 07:18] jmettraux commented on #209
Hello Federico,

what do you mean by "this doesn't work for me"? Does it mean it "never triggers the schedule"? Does it mean something else?

Is your Sunday job scheduled at each start of the application?
What platform do you deploy to? Heroku? What kind of application did you build? A Rails webapp?

Does it work in your development environment?

... http://www.chiark.greenend.org.uk/~sgtatham/bug

[2016-06-13 09:28] tangbtqzy commented on #209
Hello jmettraux,
After used a long time,I also meet similar problem recently ,when the server'time on sunday, the schedule doesn't trigger
my development environment is:
 ruby 1.9.3
 rails 3.2.15
 ubuntu 14.04

Thinks

[2016-06-13 09:36] jmettraux commented on #209
Hello @tangbtqzy,

it is considered bad form to "hijack" a conversation thread, referencing an issue from another issue is OK.

Please read http://www.chiark.greenend.org.uk/~sgtatham/bugs.html carefully and then open a new issue report detailing the issue in detail and completely.

Thanks in advance.

[2016-06-13 09:37] jmettraux commented on #209
@tangbtqzy, @federicolucca and do not forgot to tell me what version of rufus-scheduler you are using.

Remember that I cannot read him. If you want help you have to provide decent information.

[2016-06-13 10:20] jmettraux commented on #209
I wrote this small "demonstrator": https://github.com/jmettraux/sunfail

It shows that `cron "0 0 * * 0"` is working on my system (details there).

If you can fork this project and modify it so as to show what goes wrong / to prove that it goes wrong with your system please do.

[2016-06-13 12:11] tangbtqzy commented on #209
@jmettraux
Thinks for your help , The issue is found what the cron's params  :first => 'xxxx'  wrong just on sunday.

Thinks

[2016-06-13 20:50] jmettraux commented on #209
@tangbtqzy I don't understand, is your problem solved, yes or no?

If no, could you please fork and modify https://github.com/jmettraux/sunfail so as to show the problem with `:first -> 'xxxx'` in `test.rb` and thus I have a chance to fix it?

[2016-06-14 07:29] jmettraux commented on #209
I haved added a `first: '3d'` to https://github.com/jmettraux/sunfail and I can see no problems.

[2016-06-15 10:23] federicolucca commented on #209
Hi everyone,

the mean was "never triggers the schedule".
My application is on Padrino framework,and run on passenger on a Elastic env in Amazon.

i have developed a new module for manage all the schedulers and now each one is working .
i put "scheduler.cron '0 0 * * 0' " for the weekly scheduler and it works last sunday.

i'm waiting the next sunday

Thanks all
Federico

[2016-06-15 10:26] jmettraux commented on #209
OK, closing. If something goes wrong, please post a detailed report, I repeat, a detailed report here and I will reopen.

Best regards.

[2016-06-15 10:26] #209 closed

[2016-07-13 18:51] hummingV opened #211 ""in" style scheduling throws timzone warning"
Hi,
"in" style scheduling throws the following timezone warning
`/home/kaung/.rvm/gems/jruby-1.7.19/gems/rufus-scheduler-3.2.1/lib/rufus/scheduler/zotime.rb:48 warning: Unrecognized time zone: 2s`
It seems to be a bug?
[code]

[2016-07-13 21:24] jmettraux commented on #211
Hello,

I wouldn't say it's a bug since it is working (`hello` getting printed).

I tried on `jruby 1.7.22 (1.9.3p551) 2015-08-20 c28f492 on Java HotSpot(TM) 64-Bit Server VM 1.8.0_60-b27 +jit [darwin-x86_64]` and there was no warning.

I think it was fixed in https://github.com/jruby/jruby/issues/2759

Best regards.

[2016-07-13 21:24] #211 closed

[2016-07-14 03:23] hummingV commented on #211
Thanks, I confirmed that warning message is not reproducible in 1.7.22

[2016-09-03 14:26] galharth opened #213 "rufus + puma + heroku warning"
I'm running a rails app on heroku, I have two dynos
How can I remove the ! WARNING: Detected 1 Thread(s) started in app boot: warning?
My puma.rb file:
[code]
The logs:
[code]

[2016-09-03 21:27] jmettraux commented on #213
It's very easy, to remove that thread simply remove rufus-scheduler from your application.

[2016-09-03 21:35] jmettraux commented on #213
So rufus-scheduler uses threads, that makes your Puma on Heroku combo emit a warning and you want rufus-scheduler to silence the warning emitted by Puma?

If I google a [bit](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=warning%20detected%20thread) I come across lots of interesting things:

* https://github.com/puma/puma/issues/614 (mid thread (of conversation) if m

[2016-09-03 21:35] #213 closed

[2016-09-04 00:02] jmettraux commented on #213
Cf http://stackoverflow.com/questions/39307995/rufus-puma-heroku-warning

[2016-10-28 18:33] piavka opened #214 "then a job is invoked with .call, .running? does not show it as running"
Hey, I'm using the scheduler to run jobs on cron like schedules , and also have an option to invoke the jobs out of schedule which is implemented by calling the .call method of the job
however then job is invoked in such way the .running? shows that job is not running
is this by design or bug ?

[2016-10-28 20:14] jmettraux commented on #214
Hello,

it's by lack of design.

[2016-10-28 20:40] piavka commented on #214
@jmettraux  cool thanks
when to expect a new gem release ? :)

[2016-10-28 20:44] jmettraux commented on #214
Hello,

you're welcome, it's a bit thin for a release. Can you live with `job.trigger(Time.now)` for the time being? or can you simply leverage http://bundler.io/git.html for now?

[2016-10-28 20:56] piavka commented on #214
i cannot use gems deps thought git in production since they are pita to make reliable fir automatic deploy , i might end building a gem and push it to local artifactory

BTW if job is unscheduled can i still use the  new run method? also can i schedule job back from unscheduled state to scheduled or i'd have to redefine it from scratch ?

[2016-10-28 21:04] jmettraux commented on #214
I think so.

I think
[code]
might work.

It could be formalised as
[code]

[2016-10-29 12:28] piavka commented on #214
@jmettraux  the run methods works great and job is visible as .running?

unfortunately while job is unscheduled or paused (cronjob) invoking .run or .call methods does nothing, is there trick to invoke the job body while it's paused ?

[2016-10-29 13:12] piavka commented on #214
@jmettraux i managed to do thiss with this hack

[code]

I'm now using it instead of the new *run* method too

if you think there is place for this to be merged , let me know and i'll do a PR
tnx

[2016-10-29 20:48] jmettraux commented on #214
OK, let me think about it. I want a solution that work for any job.

[2016-10-31 20:48] dgreene-r7 opened #215 "Possible to release mutex lock?"
If a job owns a mutex is it possible to release that lock?

[2016-10-31 22:18] jmettraux opened #216 "let :first_at and co accept a Date instance"
see https://twitter.com/nsatragno/status/792763697232044032

[2016-11-01 00:23] jmettraux commented on #216
No `Date.to_time` on Ruby 1.8

[2016-11-01 00:30] #216 closed

[2016-11-02 17:32] 9mm opened #217 "Does rufus-scheduler directly use CRON?"
I used to use the `clockwork` gem, but that maintainer deleted the entire repo for some reason...

I'm hosting on Heroku and I need a good clock process to schedule my jobs. Heroku doesn't allow direct access to `crontab` (apparently) so I can't use the `whenever` gem, and I see in your readme that it says your gem is "not a replacement for cron".

Is `rufus-scheduler` able to do the job?

I used

[2016-11-02 21:07] jmettraux commented on #217
Good morning,

No. Rufus-scheduler doesn't use its host's cron daemon.

The gem is still available at https://rubygems.org/gems/clockwork
You are right, @tomykaira deleted his Clockwork fork...

Nothing prevents you from using it from your Bundler file with something like `gem "clockwork"`.

I don't exactly know what the job is, so I can't answer.

Not really, there's no concept of `config/clock.r

[2016-11-02 21:07] #217 closed

[2016-11-03 19:37] macmeck opened #218 "daylight saving not considered with every '1d' job"
I have set up a job using
` Rufus::Scheduler.singleton.schedule_every '1d'`
which was running fine for quite a while. Starting last weekend when summer time ended, jobs are being triggered one hour earlier. I guess that daylight saving is not being considered properly here.

[2016-11-03 20:38] jmettraux commented on #218
Hello,

"every 1d", for rufus-scheduler is equivalent to "every 24 * 3600 seconds". There is no consideration of daylight saving time at all.

Use `schedule_cron` instead.

Best regards.

[2016-11-03 20:38] #218 closed

[2016-11-10 09:34] helge000 opened #219 "Scheduler jobs remain after overwriting the scheduler object"
[code]

If this behavior is by design, what is the reasoning?

[code]

[2016-11-10 10:47] jmettraux commented on #219
Hello,

[code]

The thread continues to print "hello!" after the `t` **reference** is overriden.

If this behaviour is by design, what is the reasoning?

Best regards.

[2016-11-10 10:47] #219 closed

[2016-11-10 11:10] helge000 commented on #219
I was questioning the behavior of the library, not that of threads.

As a user of the library, I need to know how the library is implemented to correctly use it. What might be obvious to you was oblivious to me in this matter (I did only use it in a small part and did not pay enough attention, obviously).

I can see this might be next to impossible to implement, at least the `scheduler = nil` vers

[2016-11-10 11:18] jmettraux commented on #219
Hello,

And I am questioning your understanding of the programming language.

Do you understand that you are merely changing a pointer from a instance of `Rufus::Scheduler` to an instance of `NilClass`?

There is no overwriting of the scheduler object. You have to understand that if you want to progress as a programmer.

All the best.

[2016-11-10 11:40] helge000 commented on #219
It might surprise you, I do understand this; and even new this before opening this ticket. I know because of your thread example, how *you choose* to implement it.

This is by design how threads work. *But also a pitfall*. A mention in the doc is the simplest way to solve the matter. I could open a PR if you like; just tell me the position.

[2016-11-10 12:03] jmettraux commented on #219
No thanks.

[2016-11-11 08:37] knu opened #220 "Thread safety with regard to time zone handling"
Rufus-scheduler introduced ZoTime in 3.1.0, and since then `ENV['TZ']` may get modified in run time, where other threads may be creating Time objects or spawning child processes.

So, my question is, when do ZoTime#time and ZoTime#utc have a chance to be called?  Is it only when a schedule is registered using a time zone in the cron line, or is there a chance to be re-evaluated when some event occ

[2016-11-11 10:47] jmettraux commented on #220
Hello,

as you guessed `ZoTime#time` is called upon registering a cron schedule.

It is also called upon a `CronJob#next_time` or a `CronJob#previous_time`.

`ENV['TZ']` is consulted by cron jobs when there is no definite time zone in the cron string (upon creation and for `#next_time` and `#previous_time`. That might be a problem (maybe that's what prompted you to open this issue). One solution c

[2016-11-11 11:11] knu commented on #220
Thanks for the quick reply!

I have a system that persistently runs a scheduler built with rufus-scheduler, and the system dynamically adds or deletes schedules upon a request via API.  Each schedule periodically invokes a specified job on a specified time/interval, and the process involves running an external command, making an HTTP request and accessing DB while executing jobs.

So, what I need

[2016-11-11 11:21] jmettraux commented on #220
Ah, I understand. Indeed, the calls to `ZoTime#in_zone` are problematic. I will study how to avoid using it. It's currently used in two places in ZoTime.

Thanks for reporting that. Please give me a few days.

[2016-11-11 11:31] knu commented on #220
Great.  Thanks for taking the time!  Actually I was about to start working on a PR, but before that I just wanted to know what you'd think about the idea of fixing it.

[2016-11-11 11:37] jmettraux commented on #220
OK, got it. I'd be glad to have a PR from you.

[2016-11-11 14:10] knu commented on #220
After some investigation, I've found you need to add back the parser for TZ values.  TZInfo or ActiveSupport::TimeZone can parse timezone representations like `Asia/Tokyo` or `PST`, but not `JST-9`.  It is likely you could do that better. 😥

[2016-11-12 02:11] jmettraux commented on #220
I will bring back the dependency on TZInfo and cook something based on it that doesn't touch `ENV['TZ']`.

Thanks again.

[2016-11-14 22:17] jmettraux commented on #220
It's taking its time but it's starting to look good.

[2016-11-16 03:03] ramontayag opened #221 "Takes forever with invalid cron string"
Try this and it will run forever:

[code]

This should raise an error right?

[2016-11-16 03:33] jmettraux commented on #221
What error should it raise?

[2016-11-16 03:36] ramontayag commented on #221
I'm thinking invalid cron syntax or something like that. I can work on
this.

On Wed, 16 Nov 2016 11:33 John Mettraux, <notifications@github.com> wrote:

[2016-11-16 03:37] jmettraux commented on #221
Actually, you are right.

[code]

should raise an `ArgumentError`, since day 0 is not allowed. The error should be raised on `CronLine#initialize`, not on `CronLine#next_time`.

I will fix that for the next release, after I'm done with gh-220.

Thanks a lot for reporting that!

[2016-11-16 04:23] ramontayag commented on #221
Ok cool thanks ☺

On Wed, 16 Nov 2016 11:37 John Mettraux, <notifications@github.com> wrote:

[2016-11-21 05:10] jmettraux commented on #220
Hello, apart from a slight problem with JRuby, this transition is done.

If you have the time, please have a look https://github.com/jmettraux/rufus-scheduler/compare/781c009d97...184bd6ab347

Your comments are welcome.

Many thanks for making me realize the problem behind my `ENV['TZ']` approach.

I will close this issue soon. I'll release this as part of the upcoming 3.3.0

[2016-11-21 20:55] #221 closed

[2016-11-21 20:56] jmettraux commented on #221
Hello Ramon,

I made sure "day 0" is avoided. Please have a look and tell me if you spot anything off.

Many thanks!

John

[2016-11-22 00:18] ramontayag commented on #221
Looks great. Thank you!

[2016-11-24 01:37] jmettraux commented on #214
Hello @piavka I've adopted your `#trigger_out_of_schedule` (renamed it to `#trigger_off_schedule`).

Please have a look and tell me if it's OK with you.

I'll probably add the `Job#reschedule` discussed above, then release a 3.3.0.

Thanks a lot!

[2016-11-27 14:29] knu commented on #220
Wow, this must have been a tough work!  Thanks!

I've deployed the current master to my personal installation and so far it's been working fine.

[2016-11-27 21:01] jmettraux commented on #220
Thanks, closing for now !

[2016-11-27 21:01] #220 closed

[2016-11-27 21:02] #214 closed

[2016-12-02 02:48] lovingyu opened #222 "cannot determine timezone from nil (ArgumentError)"
hello, everyone

I have a problem, i'm in china , when i use rufus-scheduler

[code]

get a  error messge:

[code]

my  Time.now.zone  is "中国标准时间" , it means 'China Standard Time'.

may someone help me to Solve it ?
thank you very much.
ps: my english is not good ,sorry about that.

[2016-12-02 05:57] jmettraux commented on #222
Hello,

what version of Windows are you using?
How did you install your Ruby on Windows?

Thanks in advance.

[2016-12-02 06:03] lovingyu commented on #222
hi ,thank you for your reply
my windows version is window 10
ruby version is : ruby 2.2.4p230 x64-mingw32
i use ruby installer  rubyinstaller-2.2.4-x64.exe
thanks

[2016-12-02 06:11] jmettraux commented on #222
Investigating... It's related to gh-220. Please wait.

[2016-12-02 06:22] jmettraux commented on #222
Quick question:

[code]
Does it work for you?

[2016-12-02 06:28] lovingyu commented on #222
sorry  ,it doesn't work ,same error.

[2016-12-02 07:25] jmettraux commented on #222
Hello,

if you place in your `Gemfile`
[code]
and try again
[code]
Does it work?

[2016-12-02 07:59] lovingyu commented on #222
hi , i update script like you do ,but it's also failed.
and i add a : puts ::TZInfo::Timezone.get(ENV['TZ']
error messge:
cannot load such file -- tzinfo/data/definitions/Asia/Shangai (TZInfo::InvalidTimezoneIdentifier)

and i open the tzinfo gem folder \tzinfo\data\definitions
it look like:
\America
\Australia
\Etc
\Europe
EST.rb
UTC.rb

there is no Asia folder.

[2016-12-02 08:01] jmettraux commented on #222
If you add to your Gemfile this
[code]
and try again, does it work?

[2016-12-02 08:06] lovingyu commented on #222
hi ,
i add this
gem 'tzinfo-data'
gem 'rufus-scheduler', git: 'https://github.com/jmettraux/rufus-scheduler'
into my Gemfile, and run  bundle install
but  it  blocked  on
Fetching https://github.com/jmettraux/rufus-scheduler
can not install  rufus-scheduler

[2016-12-02 08:07] jmettraux commented on #222
Try again, or give me the complete Bundler error message and I'll help you debug that install issue.

[2016-12-02 08:10] lovingyu commented on #222
hi ,this is the error message:
$ bundle install
Your Gemfile lists the gem tzinfo-data (>= 0) more than once.
You should probably keep only one of them.
While it's not a problem now, it could cause errors if you change the version of one of them later.
Fetching https://github.com/jmettraux/rufus-scheduler

maybe because i'm in china ,the netword is  in government charge

[2016-12-02 08:17] jmettraux commented on #222
OK, does
[code]
in the terminal work for you?

[2016-12-02 08:21] lovingyu commented on #222
it's cloning:
$ git clone https://github.com/jmettraux/rufus-scheduler
Cloning into 'rufus-scheduler'...

[2016-12-02 08:26] lovingyu commented on #222
it's very slow  , 43% now ...
after is cloned ,what should i do next?
thanks

[2016-12-02 08:26] jmettraux commented on #222
OK, then in your Gemfile use
[code]
Please remove the previous ```gem 'tzinfo-data'``` and ```gem 'rufus-scheduler'``` entries.
Then try again when bundle install has succeeded.

[2016-12-02 08:36] lovingyu commented on #222
hi ,i run bundle install
...
Using rufus-scheduler 3.3.0 from H:/WestInfo/MySoft/MyApp/rufus-scheduler (at master@975a00e)
Installing tzinfo-data 1.2016.9
...
Bundle complete! 22 Gemfile dependencies, 74 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem is installed.

when i  run  this:
require 'rufus-scheduler'
ENV['TZ'] = 'Asia/Shangai'
scheduler = Rufus::Scheduler.new
s

[2016-12-02 08:41] jmettraux commented on #222
I think you are doing
[code]
try with
[code]
instead and tell me what happens.

[2016-12-02 08:45] lovingyu commented on #222
hi , i try it ,but same error
$ bundle exec ruby test.rb
c:/Ruby22/lib/ruby/gems/2.2.0/bundler/gems/rufus-scheduler-975a00e7a093/lib/rufus/scheduler/zotime.rb:41:in `
initialize': cannot determine timezone from nil (ArgumentError)
        from c:/Ruby22/lib/ruby/gems/2.2.0/bundler/gems/rufus-scheduler-975a00e7a093/lib/rufus/scheduler/zoti
me.rb:196:in `new'
        from c:/Ruby22/lib/ruby/gems/2.2

[2016-12-02 08:56] jmettraux commented on #222
If you run in your command line:
[code]
What does it tell you?

[2016-12-02 08:58] jmettraux commented on #222
Maybe simplier:
[code]

[2016-12-02 09:00] lovingyu commented on #222
#<TZInfo::DataTimezone: Asia/Shanghai>
#<TZInfo::DataTimezone: Asia/Shanghai>

[2016-12-02 09:03] jmettraux commented on #222
OK, my fault:

Can you change the line
[code]
to
[code]
and try again? (```bundle exec ruby test.rb```)

Thanks in advance.

[2016-12-02 09:06] lovingyu commented on #222
ok ,it's work fine
oh,I had not noticed that too ...
thank u very much

[2016-12-02 09:09] jmettraux commented on #222
OK, thanks a lot.
I will release a 3.3.1 with the fix and state in the documentation that setting `ENV['TZ']` might be necessary if `cannot determine timezone from nil (ArgumentError)` appears.

[2016-12-02 21:41] jmettraux commented on #222
Thanks again!

[2016-12-02 22:03] jmettraux commented on #222
Opening again, seems JRuby 1.9 mode isn't quite happy: https://travis-ci.org/jmettraux/rufus-scheduler/jobs/180833892

[2016-12-03 00:23] #222 closed

[2016-12-06 10:15] debbiswal opened #223 "scheduler is getting halt after first run"
Hi ,
I have installed 3.2.0 version of this gem(https://rubygems.org/gems/rufus-scheduler/versions/3.2.0).
I have tried to run the below code  :
[code]

But after printing first 'Hello...' statement , the scheduler halts.After 3 seconds it is not printing the 'Hello..' statement again.
Not sure about the issue.

Below is my system configuration :
-----------------------------------------
CentOS in

[2016-12-06 10:58] jmettraux commented on #223
Please upgrade to rufus-scheduler 3.3.1 and try again.

[2016-12-06 11:03] jmettraux commented on #223
Well, no need to upgrade...

try with
[code]

`scheduler.in '3s'` will run once after 3 seconds. `scheduler.join` will let the current (here main) Ruby thread join the scheduler thread so that the Ruby process doesn't terminate unless expressly told so.

Best regards.

[2016-12-06 11:03] #223 closed

[2016-12-09 07:38] bbozo opened #224 "A distributed locking mechanism?"
Hi all :)

I come from here https://github.com/moove-it/sidekiq-scheduler/issues/156 and I'm wondering if there's some good way of implementing custom locking mechanisms, for example a distributed lock via Redis?

It seems like there's some kind of anticipation of this feature already going on https://github.com/jmettraux/rufus-scheduler/blob/master/lib/rufus/scheduler/locks.rb but I found nothing

[2016-12-09 07:47] bbozo commented on #224
I see it now! :) https://github.com/jmettraux/rufus-scheduler/blob/master/lib/rufus/scheduler.rb#L101 thank you

[2016-12-09 07:47] #224 closed

[2016-12-09 07:54] jmettraux commented on #224
Linking to the documentation for the sake of completeness: https://github.com/jmettraux/rufus-scheduler#scheduler_lock

[2017-01-04 06:51] lovingyu opened #227 "error when using with Rails 5"
hi, i try to use rufus in rails 5 ,but there have a problem:

  $scheduler.at st.sc_time do
         somemethod()
  end
  $scheduler.join

  def somemethod()
     files=AutoUploadfile.where(:xmid=>session[:pr_id],:ntype=>0)
  end

AutoUploadfile is a model of database table .
when i run the script , it's  blocked  here  :  files=AutoUploadfile.where(:xmid=>session[:pr_id],:ntype=>0)
and there is n

[2017-01-04 06:55] jmettraux commented on #227
Hello,

what is the complete error message?

Please give me something like:
[code]

Also, what version of Ruby? What operating system? What version of rufus-scheduler?

Thanks in advance.

[2017-01-04 06:56] jmettraux commented on #227
Also, you are talking about Rails 5. Are you implying it works with Rails 4 or 3 ?

[2017-01-04 06:58] jmettraux commented on #227
Also, what do you mean by "it's blocked here"? The whole application is blocked?

[2017-01-04 06:58] lovingyu commented on #227
hi,  ruby version 2.2
 this is code

          puts "-----------------------"
          puts runtime
          puts st.sc_time
          puts "-----------------------"
          if st.sc_time>runtime then
            $scheduler.at st.sc_time do
              puts '=================='
              puts 'startjob...'
              files=AutoUploadfile.where(:xmid=>session[:pr_id],:ntype=>0)

[2017-01-04 06:59] jmettraux commented on #227
Other question: what Ruby server are you running your Rails 5 on top of? Passenger? Unicorn? Puma? Webrick?

[2017-01-04 06:59] lovingyu commented on #227
Puma

[2017-01-04 07:00] jmettraux commented on #227
JRuby or MRI Ruby? What version?

[2017-01-04 07:01] lovingyu commented on #227
ruby 2.2.4p230 (2015-12-16 revision 53155) [x64-mingw32]
windows 10

[2017-01-04 07:02] lovingyu commented on #227
files=AutoUploadfile.where(:xmid=>session[:pr_id],:ntype=>0)
 this  worked fine  in other program, but  in here  it doesn't work ,i wanna kown why .

[2017-01-04 07:02] jmettraux commented on #227
Remove the
[code]
line and try again. This line is only for standalone scripts, not for schedulers running *inside* of the Rails application.

Please tell me what happens (or not) then.

[2017-01-04 07:08] lovingyu commented on #227
it's worked !  thanks a lot .

[2017-01-04 07:40] jmettraux commented on #227
You're welcome. Have a nice day!

[2017-01-04 07:40] #227 closed

[2017-01-04 11:58] jmettraux opened #228 "3.3.x problem in CST China Standard Time"
As seen in https://github.com/ondrejbartas/sidekiq-cron/issues/128

Probably related to #222

[code]

[2017-01-04 12:51] jmettraux commented on #228
@zzjin Would you have some time to test this fix in your environment?

[2017-01-04 13:04] zzjin commented on #228
@jmettraux using github master@c46b12e still not work.

[2017-01-04 13:12] jmettraux commented on #228
@zzjin What does

`bundle exec ruby -e "require 'rufus-scheduler'; require 'pp'; pp [ '* * * * *', '0 * * * *', '0 16 * * *' ].collect { |s| Rufus::Scheduler::CronLine.new(s).to_a }"`

yield for you now with this c46b12e?

Thanks in advance.

[2017-01-04 13:18] zzjin commented on #228
as same as 3.3.1.
[code]

[2017-01-04 13:20] jmettraux commented on #228
@zzjin and

`TZ="Asia/Shanghai" bundle exec ruby -e "require 'rufus-scheduler'; require 'pp'; pp [ '* * * * *', '0 * * * *', '0 16 * * *' ].collect { |s| Rufus::Scheduler::CronLine.new(s).to_a }"`

?

[2017-01-04 13:24] zzjin commented on #228
seems correct:
[code]

[2017-01-04 13:27] jmettraux commented on #228
Thanks a lot, I will try to come up tomorrow with a solution that works without having to set `TZ`.

[2017-01-04 21:41] jmettraux commented on #228
@zzjin that should fix it. I tested on a system set to your timezone and it seems OK. If you could give it a try and give me your feedback, that would be much appreciated.

[2017-01-05 03:53] zzjin commented on #228
@jmettraux master@5dd92e8 it works! thanks!

[2017-01-05 04:19] jmettraux commented on #228
Thanks a lot! I will release 3.3.2 then.

[2017-01-05 12:46] payoda-suresh opened #229 "Need to revive threads phusion passenger"
Hi i am using rufus scheduler to send email notifications but due to phusion passenger's smart spawning, the rufus scheduler thread is killed and need to revive threads.can anyone share code to revive threads?

[2017-01-05 21:13] jmettraux commented on #229
Hello,

unfortunately, I'm the only one to read this issue tracker, it's not really a forum. Second unfortunate thing, I don't use Passenger. I'll try to help anyway.

I guess you are using Ruby on Rails.

If I look the Passenger documentation at https://www.phusionpassenger.com/library/indepth/ruby/spawn_methods/ you probably want something like in your `config.ru`:

[code]

Then you can skip ruf

[2017-01-07 00:47] jmettraux commented on #229
I will close this non-issue on Monday evening.

[2017-01-10 21:54] #229 closed

[2017-01-12 13:56] payoda-suresh commented on #229
Thanks for your help.

 I am using Time and expense redmine plugin which uses rufus scheduler for sending email notifications.

 Here is my application details:

  Environment             - production
  centos                       - 6.4
  Apache2
  phusion passenger   - 4.0.41
  ruby                          - 2.1.1
  Rails                         - 3.2.17
  redmine                    - 2.5.1
  T

[2017-01-12 20:25] jmettraux commented on #229
Hello,

`$scheduler` not `$schedular`. Please fix that and try again.

[2017-01-13 08:17] payoda-suresh commented on #229
Hi,
Sorry schedular is a typo while posting comment.

But used  $scheduler in code and still the error persists.

[2017-01-13 08:18] jmettraux commented on #229
Please, show me the complete error and its backtrace.

[2017-01-13 09:19] payoda-suresh commented on #229
Hi,

   I have attached the screenshot of error page.

![rufus_scheduler-1](https://cloud.githubusercontent.com/assets/7310615/21924476/5dbc228a-d99f-11e6-9900-514b53f23cf8.png)
![rufus-scheduler-2](https://cloud.githubusercontent.com/assets/7310615/21924482/64df0640-d99f-11e6-8b5b-9047bfad8a5a.png)

[2017-01-13 09:25] jmettraux commented on #229
OK, I realize you're using https://github.com/dhanasingh/redmine_wktime

The problem is completely outside of rufus-scheduler. You should discuss the problem with @dhanasingh the redmine_wktime author.

Best regards.

[2017-01-13 09:37] dhanasingh commented on #229
What is the problem ?
Do you have it configured like the instructions from this page

make sure the following settings are made in your apache settings

PassengerMinInstances 1
RailsAppSpawnerIdleTime 0
PassengerPreStart http://rails-app-url/

[2017-01-13 10:39] payoda-suresh commented on #229
yes. i have configured as mentioned.but due to this issue http://stackoverflow.com/questions/27980050/rufus-scheduler-not-running-in-production scheduler is not running in production mode.

so i need code to revive threads.

[2017-01-13 13:42] dhanasingh commented on #229
What version of OS, Apache and Passenger are you using ?

Currently we are using CentOS 6.6, Apache 2.2 and Passenger 5.0.20, it works fine.

[2017-01-16 23:16] adeeb1 opened #230 "[FAQ] Setting the Time Zone Dynamically"
I ran into the ["Cannot determine timezone from nil"](https://github.com/jmettraux/rufus-scheduler#i-get-zotimerb41in-initialize-cannot-determine-timezone-from-nil) error and wanted to post my solution. It involves setting the `ENV['TZ']` variable, as you suggested, but I don't like to hardcode values like this, especially if your time zone changes from development to production environments. You

[2017-01-17 01:34] jmettraux commented on #230
Good morning,

[code]

[2017-01-17 01:39] adeeb1 commented on #230
Thanks for the quick reply! It looks like `Time.zone` is specific to ActiveSupport: http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html. I think my approach would work for Rails, but without Rails you'd need to manually specify the time zone as you have described in your FAQ.

[2017-01-17 01:41] jmettraux commented on #230
What kind of zone string does your `Time.zone.name` returns?

If it's something like "CST" it is very ambiguous and led to problems like https://github.com/jmettraux/rufus-scheduler/issues/228

Beware of not shooting yourself in the foot.

[2017-01-17 01:55] adeeb1 commented on #230
Good point. Mine returns `"UTC"` and seems to be working fine. `ActiveSupport::TimeZone` is a wrapper over TZInfo. What may be even safer is to use the `tzinfo` identifier instead:

`ENV['TZ'] = Time.zone.tzinfo.identifier # "Etc/UTC"`

[2017-01-17 01:57] jmettraux commented on #230
Could you please try something in your system for me?

Please set your system zone to Shangai then tell me what `Time.zone.tzinfo.identifier` returns.

Thanks in advance.

[2017-01-17 02:18] adeeb1 commented on #230
It doesn't look like it uses your local time; mine returns `"UTC."` The docs say you have to set the time zone in Rails' `application.rb`; otherwise it will default to UTC. Shanghai isn't listed as a time zone:

[code]

I set the time zone to "Beijing," and it returned the Shanghai identifier, which makes sense since it says "Beijing Time" next to it [on Wikipedia](https://en.wikipedia.org/wiki/Li

[2017-01-17 02:19] jmettraux commented on #230
OK, how about changing the operating system zone?

[2017-01-17 02:20] adeeb1 commented on #230
The same as above. I changed the time zone of my OS, and it still returned "UTC" because Rails defaults to UTC if you don't explicitly specify a time zone in your Rails server.

[2017-01-17 02:31] jmettraux commented on #230
OK. Thank you very much!

[2017-01-17 02:31] #230 closed

[2017-01-17 05:39] payoda-suresh commented on #229
The following are the details:
           CentOS        - 6.4
           Apache         - 2.2.15
           Passenger    - 4.0.41
           Ruby             - 2.1.1
           Rails             - 3.2.17
           Redmine      - 2.5.1(stable)
           Time and expense plugin - 1.7
           Rufus-scheduler - 3.0.3

          In Development mode it works fine but in production mode the schedule

[2017-01-20 07:24] jmettraux opened #231 "every job with :first_at triggering twice initially (at first_at)"
As seen in http://stackoverflow.com/questions/41754840/why-is-rufus-scheduling-the-first-job-twice

[code]

[2017-01-22 22:46] #231 closed

[2017-01-27 15:55] sofiabravo103 commented on #222
Hi, I got the cannot determine timezone from nil error and added the fixed suggested in de faqs but the error continuous in the line where I start rufus:

`ArgumentError (cannot determine timezone from "VET" (etz:"America/Caracas",tnz:"VET",tzid:"constant")):`

What's going on?

[2017-01-27 21:20] jmettraux commented on #222
It's 6am and I'm having a coffee and contemplating and old issue getting hijacked.

.

@sofiabravo103 good morning, could you please open a new issue? If you think this new issue is related to the old, closed, issue here, please include a link to here and indicate why you think they are related.

In the new issue, please indicate on what operating system you are running. Please also indicate if yo

[2017-01-27 22:24] jmettraux opened #233 "Cannot determine timezone from "VET""
@sofiabravo103 wrote in gh-222 :

[code]

[code]

[2017-01-27 22:27] jmettraux commented on #233
@sofiabravo103 Hello

What operating system are you running on?
What is the "de faq" thing you are referring to? Can you please include a link to it?

Thanks in advance

[2017-01-27 22:37] jmettraux commented on #233
And also, may I have the complete error backtrace?

Thanks in advance!

[2017-01-27 22:39] jmettraux commented on #230
(removed the `[FAQ]` prefix as it might confuse people)

[2017-01-27 22:52] sofiabravo103 commented on #233
Ubuntu 14.04.5 LTS.
 I don't think it will help, but here is the complete error backtrace:
[code]

[2017-01-27 22:54] jmettraux commented on #233
Thanks.

May I please see the code of your `harvest_plans_controller.rb` especially around line 36 ? (so says your backtrace).

[2017-01-27 22:57] sofiabravo103 commented on #233
You have it, it's this line:

`Rufus::Scheduler.singleton.every "#{@harvest_plan.hours_between}h",`

Also "de faqs" was a typo, sorry, I meant to say "the faqs", as in frequently asked questions in the README.

[2017-01-27 23:04] jmettraux commented on #233
OK, so it's not the complete error backtrace, Rails must be filtering it for you. Else you would see the call to `Rufus::Scheduler::ZoTime#initialize` where the ArgumentError is raised.

Getting inspiration from gh-230, could you please try with:

[code]

So that it will pick Rails's defined timezone (I've read in #230 that it's set in Rails `application.rb`).

[2017-01-27 23:11] sofiabravo103 commented on #233
Already did, almost same error:

`ArgumentError (cannot determine timezone from nil (etz:"Caracas",tnz:"Caracas",tzid:"constant")):`

[2017-01-27 23:16] jmettraux commented on #233
What does

[code]

yield?

I am interested in the `p`s precise output.

[2017-01-27 23:32] sofiabravo103 commented on #233
[code]

[code]

But this output might be different from what would have been when I reported the issue. I did an Ubuntu upgrade and it cleared the ArgumentError. This timezone is really peculiar, it has changed twice in recent time (last one in 2016), and not as in daylight saving or anything normal like that. It was -4:30 at the start of 2016 and now it's -4. The Venezuelan president changes the

[2017-01-27 23:37] jmettraux commented on #233
I am glad to learn that I spent two hours of my life on a problem that is not my fault.

[2017-01-27 23:37] #233 closed

[2017-01-27 23:52] sofiabravo103 commented on #233
Great attitude. In my opinion it is still not ok to see an ArgumentError from your code, that should not be the way to find out there is an issue with timezone. I figured it based on a guess, could have been on this problem for weeks.

[2017-01-28 00:00] jmettraux commented on #233
Please elaborate.

What should it do then?

[2017-01-28 01:24] jmettraux commented on #233
That's the "thanks" I was hoping for.

[2017-01-29 01:42] adeeb1 commented on #231
Hi there,

Will the gem be updated with this fix soon? Thanks for being a great maintainer!

[2017-01-29 01:56] jmettraux commented on #231
Hello @adeeb1

It's released then: https://rubygems.org/gems/rufus-scheduler/versions/3.3.3

Thanks for your help!

[2017-01-30 02:36] sofiabravo103 opened #234 "What would you recommend to keep the Rufus instance running when Rails app is restarted?"
I have a scheduler instance is running perfectly in my production environment, but when a capistrano deploy happens it restarts the Rails app and the scheduler stops scheduling. A capistrano deploy might be just a simple hotfix, so I would like to be able to keep the scheduler instance alive somehow.

I know that you say specifically that this is a non-feature in the README (it's still a really aw

[2017-01-30 02:44] jmettraux commented on #234
Hello Sofia,

If I understand correctly, you're starting the scheduler manually?

[2017-01-30 02:53] jmettraux commented on #234
If you want to manage multiple processes, you could look at http://ddollar.github.io/foreman/ I think that that's what Heroku uses (or something similar).

I tend to use http://smarden.org/runit/ just for my applications (not as the general init system) on my debian servers. I could imagine having a runit service dedicated to 1) the webapp 2) the scheduler for it, and have Capistrano push and rest

[2017-01-30 03:06] jmettraux commented on #234
Closing the issue but not the conversation.

[2017-01-30 03:06] #234 closed

[2017-01-30 03:23] sofiabravo103 commented on #234
The scheduler starts manually, like you suggest in the README:
[code]
But the scheduling happens from a controller:
[code]

[2017-01-30 04:25] jmettraux commented on #234
I would take a different approach, one with a single schedule (warning some parts are pseudo-code, I haven't used Rails or ActiveRecord in ages):

[code]

[code]

[code]

You could even avoid using rufus-scheduler:

[code]

Best regards.

[2017-01-30 04:44] sofiabravo103 commented on #234
Thanks a lot for taking the time to write a suggestion! I had a similar approach before starting to use rufus, but it had a lot of problems. I don't think this will work for me, but I'll keep thinking about it

But about my original question...  So there is no way to keep the scheduler instance alive somehow?

[2017-01-30 04:53] jmettraux commented on #234
There are plenty of ways, some hinted in https://github.com/jmettraux/rufus-scheduler/issues/234#issuecomment-275970444

But problems or maintenance will happen, your whole server will have to restart and all your schedules will be lost. And at some point too you will want to upgrade the scheduler instance itself.

I think your approach, keeping the scheduler instance alive, is too brittle.

May I

[2017-01-30 05:00] sofiabravo103 commented on #234
I see what you mean. I did not think of the maintenance nightmare it would be.

The thing with the approach you suggested is that having a cron job running all the time (even if it's just a one liner code) and processes sleeping for an hour is just too much for my AWS instance. I think I might lean into something like an initializer that "re-schedules" everything after creating the new rufus-insta

[2017-01-30 05:04] jmettraux commented on #234
You have to understand that rufus-scheduler scheduling thread is waking up 3 times per second to check its schedules.

I think a (thread + loop + sleep 30 minutes) might be more economical.

Are you afraid of having too many queries on your DB? Or afraid of having too much CPU activity?

[2017-01-30 05:09] sofiabravo103 commented on #234
I'm afraid of having too much CPU activity and using too much RAM (the server was having out of memory errors when I wrote a solution similar to your suggestion)... Maybe I was writing a bad implementation?

[2017-01-30 05:15] jmettraux commented on #234
That's probable.

[2017-01-30 05:17] sofiabravo103 commented on #234
Thanks, I will consider rewriting that approach.

[2017-02-13 13:07] chiragHC opened #235 "scheduler not working in production environment with Nginx/Passenger"
I have a Rails app running on Nginx/Passenger. It has a rufus-scheduler cron job that runs in the background and sends out notifications via email.

When I start up the app in production on Nginx/Passenger, the emails don't get sent. In the production logs it doesn't show any logs for rufus-scheduler.

I'm stuck in this problem. Not able to debug the scheduler.

But after reading some issues & art

[2017-02-13 16:44] SuriyaaKudoIsc opened #236 "Running Rufus + Rakefile on Heroku"
@jmettraux

----

### **How can I run the rufus scheduler with a `Rakefile` on Heroku?**

I can run daily cron tasks for free, but hourly it costs $3/mo! Now I want to use the rufus scheduler gem.

----

----

My `task_scheduler.rb` file:
[code]

My Rakefile:
[code]

*Cheers,*
[**Suriyaa Kudo**](https://github.com/SuriyaaKudoIsc) :octocat:

[2017-02-13 20:42] jmettraux commented on #235
Please read the faq linked documentation about Passenger https://github.com/jmettraux/rufus-scheduler#faq and have a look at Stack Overflow for that http://stackoverflow.com/questions/tagged/passenger+rufus-scheduler

[2017-02-13 20:42] jmettraux commented on #235
Closing since you've already asked for help on Stack Overflow: http://stackoverflow.com/questions/42204718/rufus-scheduler-not-running-in-production-nginx-passenger

[2017-02-13 20:42] #235 closed

[2017-02-13 20:47] jmettraux commented on #236
Hello Suriyaa,

with a bit of googling you'll find examples on how to run a Heroku worker containing a Clockwork scheduler (not rufus-scheduler but close enough). For example: https://devcenter.heroku.com/articles/scheduled-jobs-custom-clock-processes

Have fun! Best regards.

[2017-02-13 20:47] #236 closed

[2017-02-14 22:24] animeavi opened #237 "3.3.x timezone change broke Windows compatibility"
I can't run this simple code anymore without downgrading to 3.2.2. I'm using Ruby 2.2.4 from RubyInstaller dot org.

[code]

The exception I get
[code]

[2017-02-14 22:37] jmettraux commented on #237
Hello,

does that fix it?

[code]

[2017-02-14 22:42] animeavi commented on #237
I still get the exception.
[code]

[2017-02-14 22:50] jmettraux commented on #237
OK, I'll try to find a Windows system and fix that somehow.

Best regards.

[2017-02-14 22:52] animeavi commented on #237
Thank you. I'll Use 3.2.2 for now.

[2017-02-14 23:04] jmettraux commented on #237
@animeavi

another question: what happens when you install the 'tzinfo-data' gem and run that updated script:

[code]

Thanks in advance.

[2017-02-15 20:31] jmettraux commented on #237
OK, forget it. I could find a windows system, it's still working and it hasn't killed me yet. I see the same problem even with tzinfo-data loaded.

I will try to fix that.

[2017-02-15 20:49] jmettraux commented on #237
No, I was wrong, having tzinfo-data and doing `ENV['TZ'] = 'America/New_York' solves the issue.

I will update the FAQ.

[2017-02-15 20:58] jmettraux commented on #237
https://github.com/jmettraux/rufus-scheduler#i-get-zotimerb41in-initialize-cannot-determine-timezone-from-nil

[2017-02-15 21:24] jmettraux commented on #237
Solved by enhancing documentation and error message.

[2017-02-15 21:24] #237 closed

[2017-02-16 03:45] djrodgerspryor opened #239 "Documented advanced locking interface example doesn't work"
The advanced locking example with zookeeper doesn't ever actually call the `lock` method that it overrides: it just calls `@scheduler_lock.lock` directly.

The culprit seems to be this commit here https://github.com/jmettraux/rufus-scheduler/commit/68ffbc3dc2b915747e4ab338390846910b1ecbd6

The new scheduler_lock argument isn't actually a substitute for the subclassing interface from the example in

[2017-02-16 03:58] jmettraux commented on #239
Merged. Thanks a lot!

[2017-02-16 03:58] #239 closed

[2017-02-21 20:16] jmettraux opened #240 "timezone from nil (etz:"Asia/India",tnz:"Asi",tzid:"constant") (ArgumentError)"
See http://stackoverflow.com/questions/42375399/windows-rufus-envtz-continent-city-error

tnz: "Asi"?

[2017-02-22 08:27] lovingyu opened #241 "scheduler call a method automatically after all jobs finished"
hi ,
   quick question for u.
   after all my jobs finished, i want  scheduler can call a method automatically, is there a method?

   thank you

[2017-02-22 10:23] jmettraux commented on #241
Hello,

this could do it:
[code]
It's not immediate. You could monkey patch the engine (or I could provide you a callback)...

Beware the corner cases.

Closing the issue, but not the conversation.

[2017-02-22 11:09] lovingyu commented on #241
hi , it works fine . enough for me。
thanks

[2017-02-22 12:36] #241 closed

[2017-03-13 13:36] riddley commented on #240
Hi John,

Long time no chat! I hope you're well.

I'm seeing this too post-DST on Debian Stretch. I worked around it by setting the ENV, but thought I should report it. rufus-scheduler (3.3.4)

Here's the exact error:

[code]

[2017-03-13 18:38] kenpropel commented on #240
Here in CA, USA. Similar problem.

```/usr/local/rvm/gems/ruby-2.1.10@eda/gems/rufus-scheduler-3.3.2/lib/rufus/scheduler/zotime.rb:41:in `initialize': cannot determine timezone from nil (etz:nil,tnz:"PDT",tzid:nil) (ArgumentError)```

[2017-03-13 19:39] jmettraux commented on #240
Yes, "PDT" and "EDT" are not helping at all.

As a reminder, for future readers: https://github.com/jmettraux/rufus-scheduler#i-get-zotimerb41in-initialize-cannot-determine-timezone-from-nil

I think I will make sure that rufus-scheduler 3.4.0 works with a "I don't care timezone" for those cases. Or I should try harder to determine the timezone... Rails has it easy, they go for UTC by default.

[2017-03-13 20:04] riddley commented on #240
FWIW, the tzinfo-data gem instructions didn't fix the problem for me. I went with

[code]

Which I understand won't work for everyone.

[2017-03-13 20:13] jmettraux commented on #240
For CentOS, I could read `/etc/sysconfig/clock` and if I find a similar technique for OSX as well, that covers a lot of cases...

@riddley thanks for the idea

[2017-03-13 20:54] jmettraux commented on #240
Would one of you @riddley @kenpropel or @varyonic have the time to test what I just pushed. Tell me if it works or not on your system and what your system is (Debian, CentOS, OSX, Win, ...)

Thanks in advance.

[2017-03-13 21:40] kenpropel commented on #240
The patch seems to be working; I didn't get the error. My system would fall under Debian.

`Linux 4.4.0-66-generic #87~14.04.1-Ubuntu SMP Fri Mar 3 17:32:36 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

[2017-03-13 22:04] jmettraux commented on #240
@riddley I hope you are well too, I'm happy to chat again with you.

[2017-03-15 06:13] mosca1337 commented on #233
I'm hitting a similar issue on OSX. Interestingly enough, this error started showing yesterday March 13th 2016 when daylight savings time switched.

[code]

[2017-03-15 06:15] jmettraux commented on #233
@mosca1337 please read https://github.com/jmettraux/rufus-scheduler#i-get-zotimerb41in-initialize-cannot-determine-timezone-from-nil

Thanks!

[2017-03-15 06:17] jmettraux commented on #233
@mosca1337 you might also be interested in testing what is currently on master, I have put on some detection code for the system's current timezone, as seen in https://github.com/jmettraux/rufus-scheduler/issues/240

Tell me if that change fixes the issue for you.

Thanks in advance.

[2017-03-15 06:23] mosca1337 commented on #233
[code]

[code]

Resolved temporarily with:
[code]

The daylight savings time change may have been a very odd coincidence?

[2017-03-15 06:26] mosca1337 commented on #233
Upgrading from 3.3.2 to 3.3.4 solved this (should have checked for updates first). Thanks for the quick help!

[code]

[code]

[2017-03-15 06:27] jmettraux commented on #233
OK, you're welcome.

[2017-03-16 15:49] veetow commented on #240
@jmettraux, I'm having the same issue after the Daylight Saving switch.  I tried your patch in commit ffbb3de6f17bba827b5da6abd0ab770b7e7bcf6a, but I'm still getting a similar error:

[code]

[2017-03-16 15:52] jmettraux commented on #240
@veetow Hello, why do you think it's related to the Daylight switch? Are you actually restarting your rufus-scheduler every day?

[2017-03-16 15:53] veetow commented on #240
@jmettraux my app was deployed and running fine before the switch, but deployed to another server after the switch and with updated tzdata RPM, and I started having the issue.

[2017-03-16 15:55] jmettraux commented on #240
@veetow Yes, those `XXX` timezone abbreviations are ambiguous.

The error message is indicating that you have not "tzinfo-data" present in your gems. Could you please add it and try again?

Thanks in advance.

[2017-03-16 17:58] veetow commented on #240
I didn't try that yet as the hosts in question don't have internet access.  I can say that setting `ENV['TZ'] = 'UTC'` works fine.

[2017-03-16 18:59] veetow commented on #240
Adding the gem didn't help.

[code]

[2017-03-16 20:27] jmettraux commented on #240
@veetown Does setting `ENV['TZ'] = 'America/New_York'` work?

[2017-03-16 21:11] veetow commented on #240
No, it still says: `cannot determine timezone from "EDT"`.

[2017-03-16 21:26] jmettraux commented on #240
OK, thanks a lot.

[2017-03-17 03:46] jmettraux commented on #240
@veetow May I see what you have at line 60 (and around) of your `poe/ipam/service.rb` file?

(referring to the backtrace:
[code]
)

Thanks in advance.

[2017-03-17 13:15] veetow commented on #240
Sure thing.

[code]

[2017-03-17 19:39] jmettraux commented on #240
@veetow does
[code]
make the EDT error vanish?

[2017-03-17 19:43] jmettraux opened #243 "if o.is_a?(Time) then ZoTime.new(o.to_f, o.zone)"
`ZoTime.make(Time.now)` chokes when `o.zone` returns an ambiguous tz as "EDT".

As seen in gh-240.

[2017-03-17 20:37] jmettraux commented on #243
https://gist.github.com/jmettraux/ed495d1e051622fec5b5643292649b75

[2017-03-20 18:36] veetow commented on #240
@jmettraux it works!

[2017-03-20 18:41] veetow commented on #240
As an aside, doing `:first => :now` also produces the error.

[2017-03-20 19:29] jmettraux commented on #240
@veetow thanks a lot!

[2017-03-21 20:42] veetow commented on #240
@jmettraux I was wrong, I'm sorry.  I must have had some cruft in my environment.  Using `first_in: '10s'` does not fix the issue.

[2017-03-21 20:44] jmettraux commented on #240
@veetow what's the new error message and backtrace?

[2017-03-21 20:47] veetow commented on #240
Same:

[code]

However, I this does work now whereas I had to use `UTC` before: `ENV['TZ'] = 'America/New_York'`

[2017-03-21 20:51] veetow commented on #240
Creating this symlink also resolves the issue:

[code]

[2017-03-21 20:52] veetow commented on #240
And before the Daylight Saving switch, we likely didn't have the issue because the `EST` zoneinfo file exists:

[code]

[2017-03-21 20:57] jmettraux commented on #240
@veetow but before the daylight saving switch, you were using a vanilla rufus-scheduler, not this experimental system tz detection version...

[2017-03-21 20:58] veetow commented on #240
@jmettraux I'm not using your patch anymore.  I'm using `rufus-scheduler-3.3.4` from RubyGems.

[2017-03-21 21:00] jmettraux commented on #240
(confused)

[2017-03-21 21:08] veetow commented on #240
Maybe I am?  What is the "experimental system tz detection version"?

[2017-03-21 21:14] jmettraux commented on #240
It's the patch you mention in https://github.com/jmettraux/rufus-scheduler/issues/240#issuecomment-287100934 I thought you were still using it.

[2017-03-21 21:28] veetow commented on #240
Ah, no sorry.  I rebuilt my image and it pulls in version `3.3.4` of the gem.  Clearly that's the differentiator and not environment cruft like I was assuming.

[2017-03-21 21:31] jmettraux commented on #240
OK. I'm currently reworking this tz setting code in a separate gem at https://github.com/floraison/et-orbi I hope to integrate it soon in rufus-scheduler. I hope you'll have time to check it out.

[2017-03-21 23:52] jmettraux commented on #240
@veetow if you could test with what is currently on master and tell me how it behaves, I'd be extremely grateful :-)

[2017-03-22 14:10] veetow commented on #240
Works!

[2017-03-22 20:07] jmettraux commented on #240
Yes, I will try to release 3.4.0 today.

[2017-03-22 21:36] jmettraux commented on #240
3.4.0 released, I'm closing this issue but feel free to report any problem (here for tz issues, new issue else).

Thanks!

[2017-03-22 21:36] #240 closed

[2017-03-22 21:37] jmettraux commented on #243
All the timezone fun is now in https://github.com/floraison/et-orbi

[2017-03-22 21:37] #243 closed

[2017-04-06 07:50] erlangp opened #244 "quickstart.rb error (nomethoderror)"
Hello.. i get error when execute quickstart.rb
How to fix this error? Thank you.

file: **quickstart.rb**

[code]

Result:

[code]

[2017-04-06 20:24] jmettraux commented on #244
Hello,

thanks for reporting this issue.

I've fixed the `undefined method` problem in the source gem: https://github.com/floraison/et-orbi/commit/c0bccc02849d4ab61e3d13b78bd06e52d1ab4eea

Could you please upgrade your `et-orbi` gem to 1.0.3 (`bundle update et-orbi`) and try again?

Another error message should appear with suggestions on what to do.

[2017-04-07 04:56] erlangp commented on #244
i get this message after update:

[code]

[2017-04-07 05:00] jmettraux commented on #244
Then, please try with the following `quickstart.rb`:
[code]
and tell me how it goes.

[2017-04-07 05:02] erlangp commented on #244
error message gone :D thanks!

[2017-04-07 05:03] jmettraux commented on #244
You're welcome!

[2017-04-07 05:03] #244 closed

[2017-05-16 22:26] ghostsquad opened #248 "Feature Request: CronLine#to_s"
It would be really nice to be able to convert a `CronLine` object _back_ to it's string representation.

[2017-05-16 22:49] jmettraux commented on #248
You can get a `CronLine` instance to give back its original string representation by calling `#original`

[code]

[2017-05-16 23:17] #248 closed

[2017-06-08 19:11] ghostsquad opened #249 "Question: mutex and overlap interaction"
I think there's some funny interactions between mutex and overlap. With `overlap: false` and `mutex: :whatever` applied to multiple schedules, I expect the jobs just to be queued, but in reality, the ordering is unpredictable, and some jobs get run more often (by chance I'm sure).

### Expected Output
[code]

### Repro
[code]

### Actual Output
[code]

I'm not sure if this is a bug, or just that I

[2017-06-08 21:39] jmettraux commented on #249
Hello,

not a solution, nor a full answer, but `blocking: true` makes it behaves squarely as I think you would expect:

[code]
But at the detriment of other jobs (although you could have 1 scheduler instances dedicated to those blocking jobs).

[code]

[2017-06-08 23:54] jmettraux commented on #249
`overlap: false` doesn't drive the scheduler into a "queuing" mode. The routine is, if the job is already running, then let's not trigger it and let's reschedule it for the next occurrence.

I will update the readme to explain that a bit better.

[2017-06-09 16:32] ghostsquad commented on #249
@jmettraux thank you for updating the Readme, and pointing me to `blocking: true`. I think I actually do want to block.

[2017-06-09 19:44] jmettraux commented on #249
You're welcome!

[2017-06-09 19:44] #249 closed

[2017-06-09 19:47] ghostsquad commented on #249
@jmettraux
Regarding the statement in the readme below

If the scheduler isn't scheduling, is it possible to miss a scheduled job?
For instance, I have a job that runs every 5 minutes, takes 5-10 minutes to complete, and a job that runs every hour. If the other job is running at 12:00 when the hourly job should kick off, does the hourly job still start after the prior job completes?

[2017-06-09 19:56] ghostsquad commented on #249
I did a small amount of testing, and I can't quite determine what Rufus is doing to figure out what job runs next. Though, the one that runs every minute (in my test), does run about 1/minute.

[code]

[code]

[2017-06-09 20:12] jmettraux commented on #249
Hello,

I wrote that to help me remember/understand:
[code]

It seems OK.

Maybe you're trying to give too much responsibility to rufus-scheduler. I don't know your setup, but you could queue the jobs with rufus-scheduler and have 1 consumer dequeuing and performing, in the queued order, that would give you the expected results (if I understood your aim correctly).

I think people with Resque or S

[2017-06-09 20:38] ghostsquad commented on #249
ya, I think you are right. I should be scheduling jobs into a queue, then just pop them off the queue as they come in.

[2017-06-20 12:53] rageshpillai opened #250 "How to schedule task with dynamic time though rufus-scheduler"
My main problem is to set dynamic scheduler through rufus-scheduler, let suppose i have a text fields on which we put minutes, base on that minutes re-schedule rufus-scheduler.

[2017-06-20 22:36] jmettraux commented on #250
Answered at https://groups.google.com/forum/#!topic/rufus-ruby/aOVCwXJCUT4

See gist at https://gist.github.com/jmettraux/230aa2e06507a457455a63ad04487481

Closing the issue but not the conversation.

[2017-06-20 22:36] #250 closed

[2017-06-21 05:23] rageshpillai commented on #250
scheduler.interval (SchedulerConfig.find_by_job_name "kk").duration, :overlap => false, :first => :now, :tags => [ 'cont.ct' ] do
....
end
when updating the interval time scheduler is not taking the updated value.
i just want to change the interval time of the particular job

[2017-06-21 05:27] jmettraux commented on #250
You have first to unschedule the job, else you will end up with two jobs.

Best regards.

[2017-06-21 05:31] jmettraux commented on #250
@rageshpillai this might also interest you: https://github.com/jmettraux/rufus-scheduler#every-jobs-and-changing-the-next_time-in-flight

Instead of unscheduling and then rescheduling the job, you can simply follow the example and change the `next_time` on the fly.

[2017-06-21 05:46] rageshpillai commented on #250
thank u john

[2017-06-21 05:46] jmettraux commented on #250
You are welcome.

[2017-06-21 09:20] rageshpillai commented on #250
scheduler = Rufus::Scheduler.new
scheduler.every '5s' do |job|
 p "job time",job.next_time
 job.next_time=Time.now+30
 p "fd",job.next_time
 end
=> "every_1498036590.9886_70118179576740"

 "job time"
#<EtOrbi::EoTime:0x007f8b525793f8 @seconds=1498036600.9887328, @zone=#<TZInfo::TimezoneProxy: Etc/UTC>, @time=nil>
"fd"
2017-06-21 14:47:06 +0530

pls check this code
its not updating the interval.
pl

[2017-06-21 09:32] jmettraux commented on #250
Hello,

here is something that works for me:
[code]

I hope it helps. Best regards.

[2017-06-21 09:38] rageshpillai commented on #250
i added the same code in the rails console its showing
ArgumentError: comparison of Time with EtOrbi::EoTime failed

[2017-06-21 09:38] jmettraux commented on #250
@rageshpillai I need the complete error stack trace.

[2017-06-21 09:43] rageshpillai commented on #250
is it possible to update the job.original value?

[2017-06-21 09:43] jmettraux commented on #250
@rageshpillai wrote:

What do you mean?

Yes, it's Ruby, you can override it.

[2017-06-21 09:49] jmettraux commented on #250
Please try with:
[code]

[2017-06-21 10:16] rageshpillai commented on #250
y we need to change the frequency is it req or not?

[2017-06-21 10:18] jmettraux commented on #250
The frequency is the "interval" you were asking for above.

If you don't change the frequency, the scheduling will occur always at the original interval.

[2017-06-21 10:30] rageshpillai commented on #250
scheduler.every '2s' do |job|
  p [ :in, Time.now ]

  job.next_time = ::EtOrbi::EoTime.now +60
  p [ :new_frequency, job.next_time ]
end
this one is working for me. with out updating the frequency

[2017-06-21 10:35] jmettraux commented on #250
Ah OK, then you're good to go.

Well done!

[2017-06-21 10:42] rageshpillai commented on #250
thank u :)

[2017-06-22 06:07] anushamummina commented on #81
@jmettraux Hi John, I am trying to run a scheduler cron in multiple Timezones and below is my code
[code]
which is leading me to continuos loop which is leading to memory exhaustion. Don't know what exactly is happening. Could you please help me on this.

Thank you in Advance.

[2017-06-22 06:10] jmettraux commented on #81
@anushamummina Please open a NEW issue, do not recycle an issue that has been closed. Thanks in advance.

[2017-06-22 06:12] anushamummina opened #251 "Running cron job in Multiple Timezones"
I am trying to run a scheduler cron in multiple Timezones and below is my code

[code]
which is leading me to continuous loop which is leading to memory exhaustion. Don't know what exactly is happening. Could you please help me on this.

Thank you in Advance.

[2017-06-22 06:19] anushamummina commented on #81
Hi John,

I have created new issue
https://github.com/jmettraux/rufus-scheduler/issues/251

could you please have a look and help me.

Thank you

Regards,
Anusha M.

On Thu, Jun 22, 2017 at 11:40 AM, John Mettraux <notifications@github.com>
wrote:

[2017-06-22 06:24] jmettraux commented on #251
Hello,

this is my code:
[code]
It outputs:
[code]
It schedules as expected and does not seem to consume too much memory:
<img width="713" alt="screen shot 2017-06-22 at 15 22 19" src="https://user-images.githubusercontent.com/3624/27419973-ac093382-575e-11e7-9d5f-37703d6a155f.png">

Now if you could give more details about your usage, I could perhaps help you.

Best regards.

[2017-06-22 06:47] anushamummina commented on #251
I am running this scheduler in rails 5. When I am running this in my local development environment it is running for the Timezones(Asia/Kalkata and Asia/Colombio) and is not taking time. But when I am running the same in AWS server(Puma+nginx) in development environment server is getting hanged up and  getting below error in nginx:
`2017/06/22 06:16:40 [error] 29688#0: *9 upstream timed out (110:

[2017-06-22 06:51] jmettraux commented on #251
@anushamummina wrote:

How did you come to this conclusion?

What Ruby version are you using on your server? What rufus-scheduler version? What tzinfo version?

Does it immediately get hanged up?

[2017-06-22 07:16] anushamummina commented on #251
Yes when scheduler is started, server is getting hanged up and nginx is not running.

Ruby Version: 2.3.1
Rufus-scheduler Version: 3.2.2
tzinfo Version: 1.2.2

[2017-06-22 07:19] jmettraux commented on #251
@anushamummina wrote:

How did you come to this conclusion?

Anything appearing in the logs of your application on the server?

Have you tried with the last version of rufus-scheduler?

[2017-06-22 07:32] rageshpillai commented on #250
scheduler.join is required?

[2017-06-22 07:36] jmettraux commented on #250
Hello,

`scheduler.join` tells the current Ruby thread to join the scheduler instance thread. It is useful for small scripts running rufus-scheduler. If you run a rufus-scheduler instance in a web application (Ruby on Rails for example), `scheduler.join` is not necessary (it should even be avoided). It is not necessary because the web server takes care of not exiting its own process unless told ot

[2017-06-22 07:37] anushamummina commented on #251
As when scheduler is starting, nginx is getting stopped and giving timeout error. For Memory exhaustion, I have 2GB RAM in AWS Server and when I have checked it is showing full. Now I increased RAM Size still nginx is giving timeout error.

Yes, When I print running job from scheduler I  can see the scheduled jobs(each country timezone one scheduler is getting scheduled)

No, Do you want me to che

[2017-06-22 07:42] jmettraux commented on #251
I don't understand why you are talking about a continuous loop.

Does the scheduling happens at all? I mean, does at least one schedule trigger?

Anything else appearing in the logs? No Ruby errors?

Have you tried with scheduling in a single timezone? Does that lead to a memory exhaustion?

Not yet. Before that, please answer that question: what code gets actually scheduled? Is that all:
[code]
?

[2017-06-22 08:08] jmettraux commented on #251
What happens with this code:
[code]
? When running on your server, does the "hang up" still happen?

[2017-06-22 08:10] anushamummina commented on #251
Let me try once. Have you removed the scheduler cron code?

[2017-06-22 08:11] jmettraux commented on #251
I have commented out your CurrencyConverter invocations.

[2017-06-22 08:20] anushamummina commented on #251
I am getting this error in puma logs:

[code]
Code:

[code]

[2017-06-22 08:21] jmettraux commented on #251
Does the "hang up" still happen? It's not obvious from your feedback.

[2017-06-22 08:23] jmettraux commented on #251
It's not an error at all, it's simply a termination notice for timed out workers.

[2017-06-22 08:26] anushamummina commented on #251
Yes, server is not running now.
![error](https://user-images.githubusercontent.com/17082744/27424281-25f0eddc-5752-11e7-88cb-d0cd3ac99e94.png)
when I reverted the code(removing timezone loop) server is running and I can see my login page.

[2017-06-22 08:28] jmettraux commented on #251
Your screenshot is saying error 500. May I see the Error 500 as seen from the Rails log?

Thanks in advance.

[2017-06-22 08:36] anushamummina commented on #251
When I removed my currncyconverter code it is running fine. When I added the code and run I am getting 500 error. But I can't see any error from my rails logs.

In my code actually I am connecting to 3rd party API to store data. is it the problem?

[2017-06-22 08:42] anushamummina commented on #251
I am using retries in my code. Suppose if it failed for one time means I am retrying the same job for 3 times.
and the job is failing 3 times. so data is not returning to scheduler and 'puts "#{Time.now} - currency exchange rates were updated successfully.' is not priniting.

Is it actually causing problem?

[2017-06-22 08:44] jmettraux commented on #251
Yes, for me it indicates that rufus-scheduler is not the problem. Closing this issue.

I don't have the code under my eyes and I haven't tried it, but your analysis sounds OK.

Good luck with that! Have a nice day.

[2017-06-22 08:44] #251 closed

[2017-06-22 08:46] anushamummina commented on #251
Thank you so much John for helping me out.

[2017-06-22 09:13] rageshpillai commented on #250
is there any way "interval" jobs and changing the next_time in-flight?

[2017-06-22 09:19] jmettraux commented on #250
Hello,

Yes, in the exact same way you did it above with an `EveryJob`.

Best regards.

[2017-06-22 09:21] rageshpillai commented on #250
which class i need to override?
"next_time" option  should work as well with cron jobs, not so with interval jobs whose next_time is computed after their block ends its current run.

[2017-06-22 09:33] jmettraux commented on #250
You are right.

`IntervalJob`

Best regards.

[2017-06-22 09:40] jmettraux commented on #250
Or you could simply set the `@interval` and be done.

[2017-06-22 09:41] rageshpillai commented on #250
k

[2017-06-22 09:46] jmettraux commented on #250
@rageshpillai wrote:

Sorry, what do you mean by that?

[2017-07-04 06:32] rageshpillai commented on #250
does overlap:false option work with every jobs

[2017-07-04 06:38] jmettraux commented on #250
@rageshpillai I am sorry, I am too busy to take the time to read the documentation for you. Please read the documentation by yourself. If it's not in the documentation, just simply try. If there is anything wrong, please open a detailed issue.

[2017-07-04 06:41] rageshpillai commented on #250
In our apps we have 10 background jobs, all are interval jobs
[code]
am using this class to overidde the interval timing
``
time_delay=(SchedulerConfig.find_by_job_name "job_name").duration
   job.interval=(time_delay.include?("m")) ? (time_delay.scan(/\d+/).first.to_i*60) : (time_delay.include?("h")) ? (time_delay.scan(/\d+/).first.to_i*60*60) : (time_delay.scan(/\d+/).first.to_i*60*60*24)
   nex

[2017-07-04 06:46] jmettraux commented on #250
@rageshpillai This issue is closed. Feel free to open a new, DETAILED, issue if you encounter a new problem. Thanks for your understanding.

[2017-07-08 21:50] pinkynrg opened #252 "Rails - can't kill endless jobs from class method call"
So, I'm trying to schedule a method to be called in 5 seconds.
[code]

This method looks as follows:

[code]

Once I kill the job, the loop keeps running. The only way I have to stop the job is to kill Rails. Note that rufus is actually killing something because my UI shows that the job is not scheduled anymore. It seems like I cannot end the running method though. I was thinking I should exit the

[2017-07-08 22:34] pinkynrg commented on #252
Just noticed that in the documentation you mentioned something about class Handlers such as:

[code]

I guess i should use job.running? in the loop and control its execution inside the loop.

Thanks and sorry for wasting your time

[2017-07-08 22:34] jmettraux commented on #252
Hello,

## regarding your test code

I wrote this small test script:
[code]
and it yields:
[code]
In other words, in my setting the job gets killed, the while loop is stopped. It works for me. On OSX (Ruby 2.3.3) and on Debian GNU/Linux (Ruby 2.3.4).

Now, if you could tell me what version of Ruby you use, what version of rufus-scheduler and eventually what version of Ruby on Rails and on which op

[2017-07-08 22:36] jmettraux commented on #252
Hello, if I were you I would look at my `schedule_interval` code proposition and leave all this management to rufus-scheduler, avoiding replicating it on my side.

[2017-07-08 22:55] pinkynrg commented on #252
This is my current stack:
[:ruby, "2.3.0p"]
[:rufus_schduler, "3.3.4"]
[:rails, "5.0.2"]

[2017-07-08 22:56] jmettraux commented on #252
https://github.com/jmettraux/rufus-scheduler#scheduling-handler-classes might also interest you or you could fall back to the simple:
[code]

[2017-07-08 22:56] jmettraux commented on #252
Are you calling #kill before the loop starts?

[2017-07-08 22:57] pinkynrg commented on #252
nope, always calling kill after it's been scheduled and it's `running? == true`

[2017-07-08 22:59] jmettraux commented on #252
What operating system?

[2017-07-08 22:59] pinkynrg commented on #252
[:os, "OSX Yosemite 10.10.5"]

[2017-07-08 23:00] pinkynrg commented on #252
Using Puma as webserver.

[2017-07-08 23:02] pinkynrg commented on #252
I could share my wrapper so maybe you can have an idea of what I'm doing. It is not ideal to maybe write all this logic in the Rails model but it worked until today but for the above issue:

[code]

[2017-07-08 23:15] pinkynrg commented on #252
I'm an idiot. I was only calling unschedule. So now that I call unschedule and after it kill it works just fine.

Thanks again man. I don't know who made this code change, I clearly remember I was killing the job, not only unscheduling it.

[2017-07-08 23:15] #252 closed

[2017-07-08 23:17] jmettraux commented on #252
[code]

[code]
In other words, on Yosemite 10.10.5, Ruby 2.3.0p0 and rufus-scheduler 3.3.4, I do not see your issue.

I strongly advise you not to use rufus-scheduler to start an endless loop but to use rufus-scheduler to manage the repetition for you with an `every`, an `interval` or even a `cron` rufus-scheduler job.

[2017-07-08 23:18] jmettraux commented on #252
OK, have a nice day!

[2017-07-08 23:30] pinkynrg commented on #252
Yes the example above was only to remark that the task I was executing was endless. What I'm actually doing is subscribing to a queue an listening for messages. The subscribe command though is blocking so we for the example I preferred to treat it as an endless loop.

[2017-07-11 20:27] kokinarido opened #253 "Does it work on Windows?"
Does it work on Windows?

[2017-07-11 20:57] jmettraux commented on #253
Yes.

[2017-07-11 20:57] #253 closed

[2017-07-21 02:43] emclab opened #254 "PG::UnableToSend: no connection to the server - version 3.4.2"
After upgrading to 3.4.2, the Rails 4.2.0 app starts having problem connecting to a table. Here is the code:

[code]
`CustomerInputDatax::Record.where.not(:status => 'email_sent').all` returns the error above. After downgrading to 3.3.4, the system starts making connection fine. For more details, please see https://stackoverflow.com/questions/45218189/rails-pgunabletosend-no-connection-to-the-serv

[2017-07-21 03:24] jmettraux commented on #254
Does upgrading back to 3.4.2 bring back the error?

[2017-07-21 04:28] jmettraux commented on #254
Answered on Stack Overflow.

Best regards.

[2017-07-21 05:07] emclab commented on #254
As soon as upgrading to 3.4.2, the exact same error shows up and the app starts having problem accessing the table.

[2017-07-25 22:12] jmettraux commented on #254
No feedback.

I will close this issue on Friday evening, Japan time.

[2017-07-26 08:10] piavka opened #255 "cron schedule causes endless memory allocation injection"
the following bad schedule `*/0 * * * *` causes `Rufus::Scheduler.parse_cron(...)` to block and consume all server memory until
[code]

[2017-07-26 08:38] jmettraux commented on #255
Fixed in https://github.com/jmettraux/rufus-scheduler/issues/202

Thanks anyway.

[2017-07-26 08:38] #255 closed

[2017-07-26 10:59] joaoBordalo opened #256 "rufus-scheduler incompatibility in rails 5.0"
Hi there,

I'm upgrading an app from rails 4.2.7 to 5.0.4.

I have updated the binary files through this command $rails app:update, and so far so good.

However, when i run this command  $rails db:migrate, I get the following error:

rails aborted!
NoMethodError: undefined method `scheduler'

and the code it points is to this block in file config/initializers/scheduler.rb: (the **bold** is what is

[2017-07-26 11:29] jmettraux commented on #256
Hello,

* Could you please give the full error backtrace?
* Could you please also give the complete `config/initializers/scheduler.rb`?
* There is no mention of rufus-scheduler or scheduler in your guide at https://hashrocket.com/blog/posts/how-to-upgrade-to-rails-5#3-update-rails-binaries-and-configurations where did you get that `config/initializers/scheduler.rb`?
* What version of Ruby are you

[2017-07-26 11:32] jmettraux commented on #256
Closing the issue, but not the conversation.

[2017-07-26 11:32] #256 closed

[2017-07-26 11:41] joaoBordalo commented on #256
**Could you please give the full error backtrace?**
bin/rails db:migrate --trace
** Invoke db:migrate (first_time)
** Invoke environment (first_time)
** Execute environment
rails aborted!
NoMethodError: undefined method `scheduler' for #<Rails::Application::Configuration:0x007fa3fe51f460>
/home/clouduser/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/railties-5.0.4/lib/rails/railtie/configuration.

[2017-07-26 11:54] jmettraux commented on #256
Hello João,

please try with this code:
[code]

It should schedule as usually, unless called from a Rake task.

Please tell me how it goes.

[2017-07-26 12:54] joaoBordalo commented on #256
Wonderful!!! It Worked
Thank you so much!!

[2017-07-26 12:55] jmettraux commented on #256
You're welcome, have a nice day!

[2017-07-28 21:00] jmettraux commented on #254
No feedback. Closing.

[2017-07-28 21:00] #254 closed

[2017-08-29 06:49] TAiS46 opened #257 "sidekiq grabs the jobs"
Hi there,

our problem is that rufus scheduler gets executed multiple times.
we are starting rails and two sidekiq with foreman.

I am logging the execution with `p [ 'performing...', scheduler.hash, $$ ]`
In the log I see now
[code]

How can I avoid that sidekiq executes the rufus jobs?

Then I would like to have a lock file with
`scheduler = Rufus::Scheduler.singleton(:lockfile => ".rufus-schedu

[2017-08-29 20:54] jmettraux commented on #257
Hello, may I then close this issue?

[2017-08-30 03:28] TAiS46 commented on #257
First question is not answered.
Sidekiq takes the jobs when sidekiq got executed before rails server

[2017-08-30 04:00] jmettraux commented on #257
OK, so your first question is:

What do you mean by that? Sidekiq has nothing to do with rufus-scheduler, rufus-scheduler executes its scheduled jobs by itself.

What do you mean by that? What has rufus-scheduler to do with that?

Considering:
[code]
Does that imply that you start (create an instance of rufus-scheduler) in your Sidekiq worker???

[2017-08-31 15:47] #257 closed

[2017-08-31 20:09] jmettraux commented on #257
Thanks.

[2017-09-22 17:13] chrisarcand opened #258 "Does rufus-scheduler follow semver?"
Hi @jmettraux, thanks for all your work on rufus-scheduler and its related projects (EtOrbi, etc)!

I am currently in the process of updating an application using rufus-scheduler 3.2.x to the latest minor release (3.4.x) and have found at least 3 changes that could be considered breaking changes; they caught me off guard and I would expect them to be marked by a major release by [semantic versioni

[2017-09-22 22:49] jmettraux commented on #258
Hello,

I'm sorry for the pain. I've been trying to follow loosely semver while gearing up for the upcoming changes (integration of [fugit](https://github.com/floraison/fugit) in progress in [branch threefive](https://github.com/jmettraux/rufus-scheduler/tree/threefive)).

I think I should from now on take care to communicate a bit more via the Changelog, and target a 4.x.x for the upcoming rufus-

[2017-09-23 13:51] chrisarcand commented on #258
@jmettraux No need to apologize at all; I just wanted to step in *your* shoes and ask about your thoughts on breaking changes to have a better understanding of what I should expect.

[2017-09-23 14:01] chrisarcand commented on #258
@jmettraux No need to apologize at all!

I just wanted to step in *your* shoes and ask about your thoughts on breaking changes to have a better understanding of what I should expect, as well as convey some roadmap feedback you say you haven't had much of yet :) My advice would simply be exactly what you already described: communicate potential regressions via the changelog, build a deprecation mec

[2017-09-23 14:01] #258 closed

[2017-09-23 20:40] jmettraux commented on #258
Thanks a lot!

[2017-09-26 14:11] manveru opened #259 "Scheduling on tuesday every other week"
I'm trying to figure out a way to specify a schedule that occurs every two weeks on Tuesday. So far I've only come up with `0 0 * * tue#2,tue#4`, which is not correct as a month may have between 4-5 Tuesdays.

Is there some way to solve this issue using `Rufus::Scheduler::CronLine` or should I implement a final check in my code and simply call it every Tuesday like `Date.today.cweek % 2 == 0`?

[2017-09-26 20:40] jmettraux commented on #259
Hello,

I did my own google search and every one seems to be implementing her/his own version of the "final check".

https://serverfault.com/questions/633264/cronjob-run-every-two-weeks-on-saturday-starting-on-this-saturday
https://stackoverflow.com/questions/350047/how-to-instruct-cron-to-execute-a-job-every-second-week

I'd say go with your final check.

Maybe I should allow for some kind of gua

[2017-09-26 22:31] manveru commented on #259
Thanks for the answer, I went ahead with the final check, it's a one-liner anyway but splits the logic in two places which I'm not a big fan of. Either way I think it'd be a pretty useful feature but it's understandable that you wouldn't implement something that's not supported by anything else (and would make calculations even more difficult).

[2017-09-27 01:03] jmettraux commented on #259
Should it look like `0 0 * * tue/2`? But then, odd versus even Tuesdays.

[2017-10-05 15:14] kazhian opened #260 "How to do the task immediately after scheduling ?"
For example, I want to do a job every minutes. But when I use ''* * * * *'', the job is done only after a minute (and so on). But I want it to be at 0th minute too.

[2017-10-05 21:23] jmettraux commented on #260
Hello,

you can do

[code]

See https://github.com/jmettraux/rufus-scheduler#first_at-first_in-first-first_time

Best regards.

[2017-10-05 21:23] #260 closed

[2017-10-22 21:22] jmettraux commented on #259
Moved issue to `fugit` where the parsing for future versions of rufus-scheduler is implemented.

Thanks again.

[2017-10-22 21:22] #259 closed

[2017-10-24 04:44] mileslane opened #261 "Cannot determine timezone from #<ActiveSupport::TimeZone:0x00007fceb83747c0 @name="Eastern Time (US & Canada)", @utc_offset=nil, @tzinfo=#<TZInfo::DataTimezone: America/New_York>> (ArgumentError)"
I am running MacOS High Sierra.  I am also running ruby 2.5.0-preview1 and rails 5.1.4.
When I try to run my dashing dashboard server, which relies on rufus-scheduler, I am getting this:

bin/rails: Cannot determine timezone from #<ActiveSupport::TimeZone:0x00007fceb83747c0 @name="Eastern Time (US & Canada)", @utc_offset=nil, @tzinfo=#<TZInfo::DataTimezone: America/New_York>> (ArgumentError)
(secs

[2017-10-24 05:18] jmettraux commented on #261
Hello, no troubling at all, thanks for the detailed reporting.

[2017-10-24 05:32] jmettraux commented on #261
@mileslane Hello, may I have the full stack trace for the 2 errors you are reporting? Thanks in advance.

[2017-10-24 06:38] jmettraux commented on #261
@mileslane Hello, forget about the stack traces. Could you please upgrade your et-orbi to 1.0.8 and try again, then tell me if the issue is gone or if it takes another form.

Thanks in advance.

[2017-10-24 13:55] mileslane commented on #261
Thanks.
After upgrading et-orbi to 1.0.8:

[2017-10-24 13:58] mileslane commented on #261
Strange.  I suspect that this part of the error message is saying that et-orbi 1.0.7 is still being used?

[2017-10-24 13:59] mileslane commented on #261
shows:

[2017-10-24 14:04] mileslane commented on #261
Got it!  Thanks!
I had to explicitly remove et-orbi 1.0.7 from my Gemfile.lock.

Cheers!

[2017-10-24 14:05] #261 closed

[2017-10-24 20:34] jmettraux commented on #261
You're welcome!

[2017-10-24 23:53] jmettraux commented on #259
Another way:

[code]

[2017-10-26 11:28] gagan93jtg commented on #72
Hey @jmettraux , here is some issue I am facing -
I am using rescue-scheduler v4.0.0
I am using rufus-scheduler v3.0.0
This [gem page](https://rubygems.org/gems/rufus-scheduler/versions/3.0.1) specifies that with rufus-scheduler v3.0.0, you can use tzinfo >=0
 But, going through the source code of rufus-scheduler for tag 3.0.0, I see that you are using classes present only in tzinfo v1.x.x and not

[2017-10-26 11:33] jmettraux commented on #72
Hello @gagan93jtg,

sorry but could you please not post in a closed thread. Your issue has nothing to do with the initial issue.

Please open a new issue. Please not that rescue-scheduler does not exist.

Best regards.

[2017-10-26 11:35] gagan93jtg opened #262 "Dependency on tzinfo"
Hey @jmettraux , here is some issue I am facing -
I am using rescue-scheduler v4.0.0
I am using rufus-scheduler v3.0.0
This [gem page](https://rubygems.org/gems/rufus-scheduler/versions/3.0.0) specifies that with rufus-scheduler v3.0.0, you can use tzinfo >=0
 But, going through the source code of rufus-scheduler for tag 3.0.0, I see that you are using classes present only in tzinfo v1.x.x and not

[2017-10-26 11:40] jmettraux commented on #262
Hello,

you're probably using Bundler, so you can easily ensure that you have tzinfo 1.x.x installed and you will thus have no problems.

I hope this will help.

Best regards.

P.S. it's resque-scheduler, not rescue-scheduler.

[2017-10-26 20:40] #262 closed

[2017-11-02 00:20] jeffblake opened #263 "SignalException - SIGTERM on Heroku"
Whenever my server restarts - during a deploy, and typically once per day automatically, I get a `SIGTERM` exception on `scheduler.join`

Anything we can do about this?

[2017-11-02 04:18] jmettraux commented on #263
Hello,

you should not need to do `scheduler.join`. Remove that line. It is telling the Ruby main thread to join the rufus-scheduler thread, it is only used in example programs. It is not needed at all in "servers".

Closing the issue but not the conversation.

[2017-11-02 04:18] #263 closed

[2017-11-02 21:16] jeffblake commented on #263
If I remove `scheduler.join`, the process cannot start and crashes - both locally and on Heroku.

Procfile
[code]

[code]

scheduler.rake
[code]

[2017-11-02 21:20] jmettraux commented on #263
Hello,

https://github.com/jmettraux/rufus-scheduler#getting-help

How does it crashes? What error message locally? What error message on Heroku?

Warning: I am no Heroku specialist.

Thanks in advance.

[2017-11-02 21:26] jmettraux commented on #263
Questions:

Does that prevent the web part from executing correctly? Does that prevent the scheduling part from executing correctly? In other words, are those SIGTERM exceptions merely annoyances?

Also:

Could you please include the complete `scheduler.rake`, including its `scheduler.join`.

Thanks in advance.

[2017-11-02 21:30] jeffblake commented on #263
Well I don't think its crashing, I think that without `scheduler.join`, the rake task finishes and exits immediately as there's nothing to keep it running.

Maybe rufus scheduler just needs to trap `SIGTERM`'s and handle them gracefully? Everything works fine - merely annoyances.

full file

[code]

[2017-11-02 21:34] jeffblake commented on #263
Perhaps this is not a rufus-scheduler concern, see this section: https://devcenter.heroku.com/articles/dynos#graceful-shutdown-with-sigterm

[2017-11-02 21:51] jmettraux commented on #263
Then do not write "the process cannot start and crashes". Stick to the facts.

OK. problem solved.

Best regards.

[2017-11-08 05:06] prettyGoo opened #264 "Rufus + Puma + Docker = Job runs twice"
I have a Puma based Rails app which runs inside the Docker. I try to create a rufus job which will run every hour a built-in Rails ActiveJob (sidekiq is used for backend). But it ends up with job running twice.

[code]
 _puts_ (as well as my ActiveJob) triggers twice with different object_id. But _logger_ triggers once.

Any idea why this is happening?

[2017-11-08 06:09] jmettraux commented on #264
Hello,

OK, I assume the job gets sent to Sidekiq twice.

You're probably having two Ruby processes scheduling.

Please read the documentation at https://github.com/jmettraux/rufus-scheduler#lockfile--mylockfiletxt there are ways to prevent redundant rufus-scheduler instances from starting explained there.

Best regards.

[2017-11-08 06:09] #264 closed

[2017-11-08 06:15] jmettraux commented on #264
That begs the question: is your logger set to sync true?

[2017-11-08 06:44] jmettraux commented on #264
[code]

[2017-11-20 19:27] maxiedaniels opened #265 "Calling join is causing my web app to halt indefinitely..."
I'm trying to implement rufus-scheduler with basically what's happening in the quick start. However, the code seems to stop at the join statement. If I take the join statement out, my web app loads the index.html correctly, but the puts in the scheduler task doesn't fire.

What could be causing this?

[code]

[2017-11-20 19:29] maxiedaniels commented on #265
Nevermind! Misunderstood the point of the join.

[2017-11-20 19:29] #265 closed

[2018-01-16 02:16] snmgian opened #266 "A little confused about :first_in option"
`:first_in option` documentation states:

	For a "cron" job, it's the time after which the first schedule will trigger.

So, this snippet, (without `:first_in` option)

[code]

will print smth like:

[code]

If I add a `:first_in` option:

[code]

I get smth like:

[code]

I expected that the job's block triggered after `23:03:54`, as the documentation suggests, not at `23:03:54`. So, to clarify,

[2018-01-16 03:22] jmettraux commented on #266
OK, I will update the documentation.

Thanks!

[2018-01-16 03:29] #266 closed

[2018-02-25 22:59] pinkynrg opened #267 "Call job asynchronously and see it in Running status"
I would like to ask two questions regarding the call method for a job.

1. I noticed the job is not running when `call` is called. On the other hand if it is scheduled and is executing, the method `running?` returns TRUE as it is supposed to be. Is there a way to get the job result as `running? == TRUE`?

2. Is there a way to call the job in a non-blocking way?
Explaining: I keep all my schedule-a

[2018-02-25 23:47] jmettraux commented on #267
Hello,

would that help?

[code]

It should answer your two questions.

I could provide a `#trigger_call` to avoid the `Time.now`:
[code]

[2018-02-25 23:48] pinkynrg commented on #267
gonna try it out man thanks for the fast reply.

I'll let you know as soon as I have feedback to give.

[2018-02-26 03:28] pinkynrg commented on #267
It seems to work but there is still one thing I don't understand:

before calling `trigger` I need to schedule the job (which I don't really want, but I have to in order to have a Job instance - right?!). The problem is that my idea of `call/trigger` is a one time thing - The user does it even if the job is not really scheduled to repeat itself. So what i do in my application is to:

1. Schedule
2

[2018-02-26 03:43] jmettraux commented on #267
Then, why are you using rufus-scheduler? Why don't you use a simple job queue library without scheduling?

Anyway, this could work:
[code]
The `at` triggers only once, and the example forces the trigger "asap", that "consumes" the job.

I hope this will help.

[2018-02-26 03:46] pinkynrg commented on #267
Just to clarify, For each of my task the user can:

1. enable/disable task: this is just a boolean flag for me to auto-schedule or not all my task.
2. schedule: the regular job schedule.
3. pause: pausing a job that is running.
4. killing: stopping a running job.
5. calling: calling any job once time, without the need for the task to be scheduled.

Does it make sense?

[2018-02-26 03:51] jmettraux commented on #267
It does make sense.

[2018-02-26 03:55] pinkynrg commented on #267
Didn't mean to be arrogant, the words I choose sometimes are not very clear to other people, was only trying to prove that I was using this awesome tool the correct way (hopefully).

Is still the above suggestion the best way to get the job done?

Thanks again for all the support.

[2018-02-26 03:59] jmettraux commented on #267
Hello,

I did not feel any arrogance out of you. You said thanks multiple times and simple "thanks" are becoming rare. Mi fa tanto piacere.

Thanks for clarifying your purpose. I'm always narrowing on what people write, in order to force them to re-phrase. I am sure you are using this technique with your customers or project managers ;-)

Here is a suggestion that triggers and unschedules, it migh

[2018-02-26 21:27] jmettraux commented on #267
Your name is Italian, your website has pieces in Italian. It was not hard to guess ;-)

Are your questions all answered?

[2018-02-26 21:29] pinkynrg commented on #267
Lol I see. Yes everything works just perfect. Thanks for helping out.

[2018-02-26 21:29] #267 closed

[2018-02-26 21:30] jmettraux commented on #267
Thanks to you!

[2018-03-28 16:25] pinkynrg opened #268 "Rufus "running?" method using Passenger"
Good morning,

I just switched from Puma to Passenger to see if the multi-process Passenger is based on may be more convenient for my application.

I know that Passenger issues has already been discussed in the past but I don't see the problem I am having anywhere; I thought you might help.

As already explained in this [issue](https://github.com/jmettraux/rufus-scheduler/issues/267#issuecomment-3

[2018-03-28 21:15] jmettraux commented on #268
Hello,

I tried as well a few years back to set up a Passenger system, but couldn't get direct spawning to work either. It seems there is a rift between documentation and current version. Passenger problems are painful to me. https://stackoverflow.com/questions/18108719/debugging-rufus-scheduler/18156180 and co...

Usually people have trouble having Passenger preserving somehow at least one rufus-

[2018-05-21 19:23] mlotfi2005 opened #269 "in `now': stack level too deep (SystemStackError)"
When I tried to run your example quickstart.rb in windows , I got:

[code]

Thanks,

[2018-05-21 22:02] jmettraux commented on #269
@mlotfi2005 thanks a lot for the issue report. May I know:

* What is your system timezone?
* What version of Windows?
* How did you install Ruby? Via https://rubyinstaller.org/ ?
* What does `bundle exec ruby -r et-orbi -e "EtOrbi._make_info"` (or simply `ruby -r et-orbi -e "EtOrbi._make_info"` yield on your system?

(on my system the above command yields
[code]
)

Thanks in advance!

[2018-05-22 00:38] jmettraux commented on #269
Issue reproduced on Appveyor: https://ci.appveyor.com/project/jmettraux/et-orbi/build/job/p80wb2e7flbbd6oo?fullLog=true#L202

[2018-05-22 05:53] jmettraux commented on #269
@mlotfi2005 another question:

What does `ruby -e "p Time.now.zone"` yield on your system?

Again, thanks in advance.

[2018-05-22 12:50] mlotfi2005 commented on #269
Hi,
- Boston, Suffolk County, Massachusetts, USA, Eastern Time Zone.
- Windows 7.
- ruby was installed  via  https://rubyinstaller.org/

 ruby -r et-orbi -e "EtOrbi._make_info"
(secs:1526993286.908482,utc~:"0048-05-21 12:48:06.9084820747375488",ltz~:nil)
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/et-orbi-1.1.1/lib/et-orbi.rb:697:in `now': stack level too deep (SystemStackError)
        from C:/Ruby24-

[2018-05-24 05:45] jmettraux commented on #269
Hello,

please try with et-orbi 1.1.2, I just released it. It seems to work for me (Windows 7, Ruby 2.2.6p396).

[2018-05-24 23:40] jmettraux commented on #269
@mlotfi2005 wrote:

Hello, it's supposed to run only once.

If you want it to run every 6s you'd have to write:
[code]

There is a `scheduler.join` call at the end of the quickstart. This tells the current thread to join the scheduler's thread. If you omit this call, the program will cease immediately (before any scheduling happens).

Usually, rufus-scheduler is used in a web app process or in its

[2018-05-24 23:40] #269 closed

[2018-05-29 21:10] jmettraux commented on #269
Well, if you don't mind keeping a command line box open and running the scheduler, nothing prevents you from using it from the command line.

If you run this command in your cmd box: `ruby -run -ehttpd . -p8000` it starts a Ruby [process](https://en.wikipedia.org/wiki/Process_(computing)) serving the content of the current directory (the dot `.`) on port 8000. This, for example, is a "web app proc

[2018-05-30 13:59] mlotfi2005 commented on #269
Thank you Sir, I appreciate your helps and time.

On Tue, May 29, 2018 at 5:10 PM, John Mettraux <notifications@github.com>
wrote:

[2018-06-28 18:12] mitnal opened #270 "Different cron line parsing results in version 3.5.0 (from 3.4.2)"
Yesterday I debugged a problem we had with sidekiq-cron. But that is already known: [199](https://github.com/ondrejbartas/sidekiq-cron/issues/199) [201](https://github.com/ondrejbartas/sidekiq-cron/issues/201).

But during this debugging I noticed a discrepancy between version 3.4.2 and 3.5.0 and how they parse cron lines.

We have some more complex cron lines, but even relatively simple cron line

[2018-06-28 23:09] jmettraux commented on #270
Hello,

thanks for the feedback.

I started from your code and made:
[code]

It outputs me:
[code]

The first result is what I expect. 3.5.0 (fugit) is right.

The third result is what I expect. 3.5.0 (fugit) is right.

The second result is not what I expect. Fugit is wrong, the last day of the month is not a Monday or a Thursday so it should be reported to the next matching month (3.4.2 is right)

[2018-06-29 02:00] jmettraux commented on #270
Closing.

[2018-06-29 02:00] #270 closed

[2018-07-07 11:13] vais opened #272 "Documentation: :overlap and :mutex option precedence"
In the README, in the `:overlap => false` section, it says:
[code]
Then, in the `:mutex => mutex_instance / mutex_name / array of mutexes` section, it says:
[code]
Which one is right? Or am I missing something...

[2018-07-07 11:30] vais opened #274 "Documentation: CronJob methods section, frequency"
https://github.com/jmettraux/rufus-scheduler#frequency-1

[code]

Maybe this is something that used to work in an older version?

[2018-07-07 23:53] jmettraux commented on #274
Thanks for the question.

I updated the documentation and got rid of `CronJob#frequency`.

Closing this, but if you have suggestions, they are welcome.

Thanks again.

[2018-07-07 23:53] #274 closed

[2018-07-08 01:43] jmettraux commented on #272
Closing, hoping the rework makes it clearer.

Thanks a lot!

[2018-07-08 01:43] #272 closed

[2018-07-09 12:57] vais commented on #272
Yes indeed, thanks!

[2018-07-23 17:07] mdesantis opened #275 "Run job every given time but with delay time using every"
Hello!

I have a job which should run every 4 hours at minute 30. The cron syntax `'30 */4 * * *'` can be used in order to achieve that. But I'm wondering if there is some way to use the `every` syntax? Maybe an `at` argument could be added to `every`, so we could do something like:

[code]

Thanks!

[2018-07-23 21:51] jmettraux commented on #275
Side information: `fugit` behind rufus-scheduler has a "natural" module which will get used in rufus-scheduler soon: https://github.com/floraison/fugit#fugitnat

I can imagine something like:
[code]
that would be equivalent to:
[code]

[2018-07-24 08:42] mdesantis commented on #275
Hi @jmettraux, thanks for suggestions! I also think that cron syntax is better than that dynamic calculation (cron syntax isn't even bad to me), anyway I think that

[code]

will be a great addition. But I must say that I'd still prefer something like `scheduler.every '4h', at: '30m'`, IMHO it doesn't have neither the obfuscated syntax of cron or the too conversational syntax of `'every 4 hours at

[2018-07-24 08:51] jmettraux commented on #275
Hello,

I think that `scheduler.every '4h', at: '30m'` is nice, but what's the pattern? What's the bigger picture? `scheduler.every '4M', at: 'first monday 17h30m'`, how can it be generalized? There seems to be a big space behind that door.

[2018-07-25 23:23] #275 closed

[2018-08-21 13:55] MTRNord opened #277 "Fails with invalid byte sequence in UTF-8 on windows"
PAIRED WITH https://github.com/floraison/et-orbi/issues/15

[code]

Code (simplified):
[code]

tzinfo and rufus-scheduler are required

[2018-08-24 12:55] MTRNord commented on #277
Fixed using the result of: https://github.com/floraison/et-orbi/issues/15

[2018-08-24 12:55] #277 closed

[2018-10-01 08:07] SecKarma opened #278 "Get the Last working day / weekday from the end of each month"
Hello,
How can I get the last working day from the end of each month as a cron. (it's not always Friday so i cant use the Last friday from each month cron)
I don't want to include the weekends (Saturday and Sunday) but only the working/business days.

Thanks in advance!

[2018-10-01 08:27] jmettraux commented on #278
Hello,

maybe something like:

[code]

Closing the issue (since it's not really an issue) but not closing the conversation. Feel free to ask further.

Best regards.

[2018-10-01 08:27] #278 closed

[2018-10-01 09:17] SecKarma commented on #278
Probably the fastest response ever lol, Thanks a ton n much appreciated! <3

[2018-10-24 22:34] veganstraightedge opened #280 "Please use Semantic Versioning (SemVer)"
Hi. First off, we use `rufus-scheduler` at work and it improves our work. Thank you for making it! 👍🏻

We also use @dependabot to get automatic version bumps of our dependencies in our `Gemfile`.

Dependabot recently created a PR to bump us from `3.4.2` to `3.5.2`.

This broke dozens of our tests when CI ran.

The reasons for broken tests were:

- `NameError: uninitialized constant Rufus::Schedule

[2018-10-25 00:02] jmettraux commented on #280
Sorry about that.

I didn't think anybody out there was using `Rufus::Scheduler::CronLine`, I did not consider it a surface level API at all, although, granted, it appeared in a pinch in the README. What I considered the surface level API did not change.

Oh well, when things break you learn about who is using your software and how, and you get schooled and shamed.

Best regards.

[2018-10-25 00:02] #280 closed

[2018-10-25 03:29] veganstraightedge commented on #280
No sweat. Things happen. ¯\_(ツ)_/¯
Thanks for understanding.

[2018-12-01 22:30] filipeaugustosantos opened #281 "Get second and third next_time"
How to get the next events?
For example, I need a list of the next three executions.

[2018-12-01 23:11] jmettraux commented on #281
Good morning,

for a start, you could do something along those lines:

[code]

Closing the "issue", not the conversation.

Best regards.

[2018-12-01 23:11] #281 closed

[2018-12-02 00:12] filipeaugustosantos commented on #281
I got that way

cron = js[0].to_s
		begin
			t1 = Rufus::Scheduler.parse(cron).next_time.to_s
			t2 = Rufus::Scheduler.parse(cron).next_time(t1).to_s
			t3 = Rufus::Scheduler.parse(cron).next_time(t2).to_s
			result << t1.to_s
			result << t2.to_s
			result << t3.to_s
		rescue
		end

[2019-01-18 11:12] slashd0t opened #282 "rufus-scheduler process cannot be terminated"
Hi guys,
I want to terminate or stop the running process of rufus scheduler so I run the top command. See below:
[code]

So I found the 17317, I tried to kill it using command: `kill -9 17317` however the rufus scheduler was still active.

Any ideas/suggestions on how to force terminate the rufus scheduler background process?

[2019-01-18 11:21] jmettraux commented on #282
Hello,

as you can see, the process 17317 is actually a "grep" process. If you're trying to locate the Ruby process hosting the rufus-scheduler thread, you might have more luck doing `ps aux | grep ruby`.

I am closing the issue since it is not a rufus-scheduler issue but a general unix/shell issue. Feel free to ask further questions, I'll help the best I can.

Best regards.

[2019-01-18 11:21] #282 closed

[2019-01-18 12:25] ViTVetal opened #283 "Handlers and multithreading"
Hello!
I want to use rufus-scheduler on the puma production server so my code should be thread-safe. I have similar code (handler)
https://github.com/jmettraux/rufus-scheduler#scheduling-handler-classes

[code]

`count` instance variable will increase each 40 seconds. So is this code thread-safe?

[2019-01-18 12:30] jmettraux commented on #283
Hello,

Yes, as long as your scheduler is the only thing calling your instance of MyHandler, this particular code should be thread-safe.

Best regards.

[2019-01-18 12:30] #283 closed

[2019-01-25 20:30] pciruzzi opened #284 "Cronline error with frequency"
Hi! I was just using `rufus-scheduler` on version `3.4.2`, through the [`sidekiq-cron` gem](https://github.com/ondrejbartas/sidekiq-cron). I was trying to schedule a job every 15 minutes, so I used the following notation:
`0/15 * * * *`

But my job wasn't being scheduled but once per hour.

I then tried changing it to `0,15,30,45  * * * *`, and everything started working.

I took my chance to revi

[2019-01-25 20:35] pciruzzi commented on #284
Here's the same for version `3.5.2`:
[code]

I've noticed that this isn't working either, and that you have changed from `Rufus::Scheduler::CronLine` to `Fugit::CronLine`, so seems like it's a bug on them, right?

[2019-01-25 23:39] jmettraux commented on #284
https://crontab.guru/#0/5_*_*_*_*

[2019-01-25 23:52] jmettraux commented on #284
Hello,

`0/15 * * * *` means, for [fugit](https://github.com/floraison/fugit) and rufus-scheduler, "in the range from the minute 0 to the minute 0, with a step of 15 minutes", and only the minute 0 fits that.

What you are trying to achieve is `*/15 * * * *` or `0-59/15 * * * *` which means "in the range from minute 0 to 59, with a step of 15 minutes".

Where did you get that "0/15 * * * *" from?

[2019-01-25 23:52] #284 closed

[2019-01-26 02:15] pciruzzi commented on #284
Hi, sorry for the misundestanding! I'm not too familiar with the cron notation, so I used [this website](https://www.freeformatter.com/cron-expression-generator-quartz.html#) to generate it.

As you pointed out in your first comment, it might not be standard, so maybe the generator don't take it into account.

Then again, sorry for that! I'll start using the `*/15` notation 🙂 and thanks for the qu

[2019-01-26 03:06] jmettraux commented on #284
You're welcome!

[2019-03-05 11:39] manikandanselva opened #286 "How to fix rufus-scheduler intercepted an error"
[code]

[2019-03-05 11:57] jmettraux commented on #286
Hello,

the error is at:
[code]

Which points to https://github.com/sumoheavy/jira-ruby/blob/cc008e7ffca3e85239bd1b6b0c3bfa0c9c17a959/lib/jira/client.rb#L61

That indicates that `@options[:context_path]` is `nil`. That should be trivial to fix.

I'm closing this issue since it isn't a rufus-scheduler issue but an issue with how you tuned your jira client.

Best regards.